<div class="container-fluid bg-light-opac">
  <div class="row">
      <div class="container my-3 main-container">
          <div class="row align-items-center">
              <div class="col">
                  <h2 class="content-color-primary page-title">Referres</h2>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="container mt-4 main-container">
  <div class="row">
      <div class="col-sm-12 col-md-12">
          <div class="card rounded-0 border-0 mb-3">
              <div class="card-header">
                  <div class="row">
                      <div class="col-8">
                          <h5 class="card-title mb-0">Referrers List</h5>
                      </div>
                      <div class="col text-right">
                          <div class="dropdown">
                              <button class="btn btn-link btn-sm text-secondary rounded-0 dropdown-toggle float-right icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" type="button">
                                  <i class="fa fa-ellipsis-v"></i>
                              </button>
                              <div class="dropdown-menu dropdown-menu-right">
                                  <a class="dropdown-item" href="#">
                                      <i class="fa fa-exclamation-circle text-secondary"></i> Report</a>
                                  <a class="dropdown-item" href="#">
                                      <i class="fa fa-cog text-secondary"></i> Settings</a>
                                  <a class="dropdown-item" href="#">
                                      <i class="fa fa-trash text-secondary"></i> Remove</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">Sr.#</th>
                              <th scope="col">Description</th>
                              <th scope="col">Referrer Code</th>
                              <th scope="col">Country</th>
                              <th scope="col">Post Code</th>
                              <th scope="col">Phone No</th>
                              <th scope="col">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of referrerPersonalInfo | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i =index;">
                              <th scope="row">{{item.id}}</th>
                              <td>{{item.description}}</td>
                              <td>{{item.referrerCode}}</td>
                              <td>{{item.country}}</td>
                              <td>{{item.postCode}}</td>
                              <td>{{item.phoneNo}}</td>
                              <td>
                                <button class="btn btn-sm primary-gradient mr-2" [routerLink]="['/Settings/ReferrerDetail',{id:item.id}]">Detail</button>
                                <button class="btn btn-sm danger-gradient mr-2"  (click)="deleteReferrer(item.id)">Delete</button>
                              </td>
                          <tr>
                      </tbody>
                  </table>
                  <ul class="pagination">
                    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
