<div class="container-fluid bg-light-opac">
  <div class="row">
    <div class="container my-3 main-container">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="content-color-primary page-title">Instructions</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4 main-container">
  <div class="card mb-4">
    <form [formGroup]="instructionForm" *ngIf="instructionForm" (ngSubmit)="saveInstructionForm()" appInvalidControlScroll>
      <div class="card-header border-bottom">
        <h5 class="content-color-primary mb-0">New Instruction</h5>
      </div>
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-md-10 mx-auto">
            <div class="row ">
              <div class="col-lg-12 col-md-12 text-center">
                <img src="../../../../assets/img/idoxlogo.png" alt="" class="mw-100 mt-4"
                  style="width: 180px; height: 112px;">
                <br>
                <p class="text-secondary mt-3">Creative, amazing, awesome and unique</p>
              </div>
            </div>
            <br>
            <h5 class="m-0">Personal Info</h5>
            <hr>
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label>First Name</label>
                <input type="text" appAlphabetsOnly class="form-control" placeholder="" formControlName="firstName"
                  [ngClass]="{'is-invalid': instructionForm.get('firstName').errors 
                && (instructionForm.get('firstName').touched||instructionFromSubmit)}">
                <div class="invalid-feedback"
                  *ngIf="(instructionForm.get('firstName').touched||instructionFromSubmit) && instructionForm.get('firstName').hasError('required')">
                  This field is required
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <label>Last Name</label>
                <input type="text" appAlphabetsOnly class="form-control" placeholder="" formControlName="lastName"
                  [ngClass]="{'is-invalid': instructionForm.get('lastName').errors 
                && (instructionForm.get('lastName').touched||instructionFromSubmit)}">
                <div class="invalid-feedback"
                  *ngIf="(instructionForm.get('lastName').touched||instructionFromSubmit) && instructionForm.get('lastName').hasError('required')">
                  This field is required
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label>Middle Name</label>
                <input type="text" appAlphabetsOnly class="form-control" placeholder="" formControlName="middleName">
              </div>
              <div class="col-lg-6 col-md-6">
                <label>Occupancy Type</label>
                <select2 [data]="occupancyTypes" [cssImport]="true" [ngClass]="{'is-invalid': instructionForm.get('occupancyTypeID').errors 
                && (instructionForm.get('occupancyTypeID').touched||instructionFromSubmit)}" width="100%"
                  (valueChanged)="onSelectOption($event,'occupancyTypeID')">
                </select2>
                <div class="invalid-feedback"
                  *ngIf="(instructionForm.get('occupancyTypeID').touched||instructionFromSubmit) && instructionForm.get('occupancyTypeID').hasError('required')">
                  This field is required
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label>Occupation</label>
                <select2 [data]="occupations" [cssImport]="true" [ngClass]="{'is-invalid': instructionForm.get('occupationID').errors 
                && (instructionForm.get('occupationID').touched||instructionFromSubmit)}" width="100%"
                  (valueChanged)="onSelectOption($event,'occupationID')">
                </select2>
                <div class="invalid-feedback"
                  *ngIf="(instructionForm.get('occupationID').touched||instructionFromSubmit) && instructionForm.get('occupationID').hasError('required')">
                  This field is required
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <div class="row">
                  <div class="col-lg-6">
                    <label>Gender</label>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" formControlName="gender" id="customCheck1payment"
                          value="male">
                          <label class="custom-control-label" for="customCheck1payment"> <span class="">Male 
                            </span></label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" formControlName="gender" id="customCheck2payment"
                          value="female">
                          <label class="custom-control-label" for="customCheck2payment"> <span class="">Female
                            </span></label>
                        </div>
                      </div>
                    </div>
                    <div class="invalid-feedback"
                      *ngIf="(instructionForm.get('gender').touched||instructionFromSubmit) && instructionForm.get('gender').hasError('required')">
                      This field is required
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <label>DOB</label>
                    <input type="text" class="form-control" placeholder="Date Of Birth" formControlName="dob" [ngClass]="{'is-invalid': instructionForm.get('dob').errors 
                    && (instructionForm.get('dob').touched||instructionFromSubmit)}" bsDatepicker [maxDate]="maxDate">
                    <div class="invalid-feedback"
                      *ngIf="(instructionForm.get('dob').touched||instructionFromSubmit) && instructionForm.get('dob').hasError('required')">
                      This field is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="row">
                  <div class="col-lg-6">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="" formControlName="email" email="true"
                      [ngClass]="{'is-invalid': instructionForm.get('email').errors 
                    && (instructionForm.get('email').touched||instructionFromSubmit)}">
                    <div class="invalid-feedback">
                      <div
                        *ngIf="(instructionForm.get('email').touched||instructionFromSubmit) && instructionForm.get('email').hasError('required')">
                        This field is required
                      </div>
                      <div
                        *ngIf="(instructionForm.get('email').touched||instructionFromSubmit) && instructionForm.get('email').hasError('email')">
                        Email is not valid.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <label>Mobile Number</label>
                    <input type="text" appOnlynumbers class="form-control" placeholder="" formControlName="mobileNumber"
                      [ngClass]="{'is-invalid': instructionForm.get('mobileNumber').errors 
                    && (instructionForm.get('mobileNumber').touched||instructionFromSubmit)}">
                    <div class="invalid-feedback"
                      *ngIf="(instructionForm.get('mobileNumber').touched||instructionFromSubmit) && instructionForm.get('mobileNumber').hasError('required')">
                      This field is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <div class="row">
                  <div class="col-lg-6">
                    <label>County</label>
                    <input type="text" class="form-control" placeholder="" formControlName="county" [ngClass]="{'is-invalid': instructionForm.get('county').errors 
                    && (instructionForm.get('county').touched||instructionFromSubmit)}">
                    <div class="invalid-feedback"
                      *ngIf="(instructionForm.get('county').touched||instructionFromSubmit) && instructionForm.get('county').hasError('required')">
                      This field is required
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <label>Town</label>
                    <input type="text" class="form-control" placeholder="" formControlName="town" [ngClass]="{'is-invalid': instructionForm.get('town').errors 
                    && (instructionForm.get('town').touched||instructionFromSubmit)}">
                    <div class="invalid-feedback"
                      *ngIf="(instructionForm.get('town').touched||instructionFromSubmit) && instructionForm.get('town').hasError('required')">
                      This field is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="row">
                  <div class="col-lg-6">
                    <label>Co</label>
                    <input type="text" class="form-control" formControlName="cO" placeholder="">
                  </div>
                  <div class="col-lg-6">
                    <label>Post Code</label>
                    <input type="text" class="form-control" placeholder="" formControlName="postCode" [ngClass]="{'is-invalid': instructionForm.get('postCode').errors 
                    && (instructionForm.get('postCode').touched||instructionFromSubmit)}">
                    <div class="invalid-feedback"
                      *ngIf="(instructionForm.get('postCode').touched||instructionFromSubmit) && instructionForm.get('postCode').hasError('required')">
                      This field is required
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-lg-12 col-md-12">
                <label>Address Line1</label>
                <input type="text" class="form-control" placeholder="" formControlName="addressLine1" [ngClass]="{'is-invalid': instructionForm.get('addressLine1').errors 
                && (instructionForm.get('addressLine1').touched||instructionFromSubmit)}">
                <div class="invalid-feedback"
                  *ngIf="(instructionForm.get('addressLine1').touched||instructionFromSubmit) && instructionForm.get('addressLine1').hasError('required')">
                  This field is required
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <label>Address Line2</label>
                <input type="text" class="form-control" formControlName="addressLine2" placeholder="">
              </div>
            </div>
            <br>
            <br>
            <h5 class="m-0">References</h5>
            <hr>
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label>Client Ref No</label>
                <input type="text" class="form-control" placeholder="" formControlName="clientRefNo" [ngClass]="{'is-invalid': instructionForm.get('clientRefNo').errors 
                && (instructionForm.get('clientRefNo').touched||instructionFromSubmit)}">
                <div class="invalid-feedback"
                  *ngIf="(instructionForm.get('clientRefNo').touched||instructionFromSubmit) && instructionForm.get('clientRefNo').hasError('required')">
                  This field is required
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <label>Medico Ref No</label>
                <input type="text" class="form-control" placeholder="" formControlName="medicoRefNo" [ngClass]="{'is-invalid': instructionForm.get('medicoRefNo').errors 
                && (instructionForm.get('medicoRefNo').touched||instructionFromSubmit)}">
                <div class="invalid-feedback"
                  *ngIf="(instructionForm.get('medicoRefNo').touched||instructionFromSubmit) && instructionForm.get('medicoRefNo').hasError('required')">
                  This field is required
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label>Special Restriction Need</label>
                <input type="text" appAlphabetsOnly class="form-control" placeholder=""
                  formControlName="specialRestrictionNeed" [ngClass]="{'is-invalid': instructionForm.get('specialRestrictionNeed').errors 
                && (instructionForm.get('specialRestrictionNeed').touched||instructionFromSubmit)}">
                <div class="invalid-feedback"
                  *ngIf="(instructionForm.get('specialRestrictionNeed').touched||instructionFromSubmit) && instructionForm.get('specialRestrictionNeed').hasError('required')">
                  This field is required
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="media" style="margin-top: 35px;">
                  <div class="custom-control custom-checkbox todo-checkbox">
                    <input type="checkbox" class="custom-control-input" id="isSpecialRestrictionNeed"
                      formControlName="isSpecialRestrictionNeed">
                    <label class="custom-control-label " for="isSpecialRestrictionNeed"></label>
                  </div>
                  <div class="media-body">
                    <h6 class="my-0 text-truncated">Is Special Restriction Need</h6>
                  </div>
                </div>

              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <div class="row">
                  <div class="col-lg-6">
                    <label>Expert</label>
                    <select2 [data]="experts" [cssImport]="true" (valueChanged)="getRequiredMedicalRecord($event)"
                      [ngClass]="{'is-invalid': instructionForm.get('expertID').errors && (instructionForm.get('expertID').touched||instructionFromSubmit)}"
                      width="100%">
                    </select2>
                    <div class="invalid-feedback"
                      *ngIf="(instructionForm.get('expertID').touched||instructionFromSubmit) && instructionForm.get('expertID').hasError('required')">
                      This field is required
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <label>Referrer</label>
                    <select2 [data]="referrers" [cssImport]="true" [ngClass]="{'is-invalid': instructionForm.get('referrerID').errors 
                    && (instructionForm.get('referrerID').touched||instructionFromSubmit)}" width="100%"
                      (valueChanged)="onSelectOption($event,'referrerID')">
                    </select2>
                    <div class="invalid-feedback"
                      *ngIf="(instructionForm.get('referrerID').touched||instructionFromSubmit) && instructionForm.get('referrerID').hasError('required')">
                      This field is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="row">
                  <div class="col-lg-6">
                    <label>Speciality</label>
                    <select2 [data]="specialities" [cssImport]="true" [ngClass]="{'is-invalid': instructionForm.get('specialityID').errors 
                    && (instructionForm.get('specialityID').touched||instructionFromSubmit)}" width="100%"
                      (valueChanged)="onSelectOption($event,'specialityID')">
                    </select2>
                    <div class="invalid-feedback"
                      *ngIf="(instructionForm.get('specialityID').touched||instructionFromSubmit) && instructionForm.get('specialityID').hasError('required')">
                      This field is required
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <label>IncidentType</label>
                    <select2 [data]="incidentTypes" [cssImport]="true" [ngClass]="{'is-invalid': instructionForm.get('incidentTypeID').errors 
                    && (instructionForm.get('incidentTypeID').touched||instructionFromSubmit)}" width="100%"
                      (valueChanged)="onSelectOption($event,'incidentTypeID')">
                    </select2>
                    <div class="invalid-feedback"
                      *ngIf="(instructionForm.get('incidentTypeID').touched||instructionFromSubmit) && instructionForm.get('incidentTypeID').hasError('required')">
                      This field is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-12 col-md-12">
                <label>Special Note</label>
                <textarea type="text" class="form-control" formControlName="specialNote" placeholder=""></textarea>
              </div>
            </div>
            <br>
            <br>
            <h5 class="m-0">Case Handler</h5>
            <hr>
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <div class="row">
                  <div class="col-lg-6">
                    <label>Name</label>
                    <input type="text" appAlphabetsOnly class="form-control" placeholder=""
                      formControlName="caseHandlerName" [ngClass]="{'is-invalid': instructionForm.get('caseHandlerName').errors 
                    && (instructionForm.get('caseHandlerName').touched||instructionFromSubmit)}">
                    <div class="invalid-feedback"
                      *ngIf="(instructionForm.get('caseHandlerName').touched||instructionFromSubmit) && instructionForm.get('caseHandlerName').hasError('required')">
                      This field is required
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <label>Email</label>
                    <input type="text" class="form-control" placeholder="" email="true"
                      formControlName="caseHandlerEmail" [ngClass]="{'is-invalid': instructionForm.get('caseHandlerEmail').errors 
                    && (instructionForm.get('caseHandlerEmail').touched||instructionFromSubmit)}">
                    <div class="invalid-feedback">
                      <div
                        *ngIf="(instructionForm.get('caseHandlerEmail').touched||instructionFromSubmit) && instructionForm.get('caseHandlerEmail').hasError('required')">
                        This field is required
                      </div>
                      <div
                        *ngIf="(instructionForm.get('caseHandlerEmail').touched||instructionFromSubmit) && instructionForm.get('caseHandlerEmail').hasError('email')">
                        Email is not valid.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="row">
                  <div class="col-lg-6">
                    <label>Phone</label>
                    <input type="text" appOnlynumbers class="form-control" placeholder=""
                      formControlName="caseHandlerPhone" [ngClass]="{'is-invalid': instructionForm.get('caseHandlerPhone').errors 
                    && (instructionForm.get('caseHandlerPhone').touched||instructionFromSubmit)}">
                    <div class="invalid-feedback"
                      *ngIf="(instructionForm.get('caseHandlerPhone').touched||instructionFromSubmit) && instructionForm.get('caseHandlerPhone').hasError('required')">
                      This field is required
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <label>Fax</label>
                    <input type="text" appOnlynumbers formControlName="caseHandlerFax" class="form-control"
                      placeholder="">
                  </div>
                </div>
              </div>
            </div>
            <br>
            <br>
            <h5 class="m-0">Tranlator</h5>
            <hr>
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label>Language</label>
                <input type="text" appAlphabetsOnly formControlName="translatorLanguages" class="form-control"
                  placeholder="">
              </div>
              <div class="col-lg-6 col-md-6">
                <label>Name</label>
                <input type="text" appAlphabetsOnly formControlName="translatorName" class="form-control"
                  placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label>Email</label>
                <input type="text" email="true" formControlName="translatorEmail" class="form-control" placeholder=""
                  [ngClass]="{'is-invalid': instructionForm.get('translatorEmail').errors 
                && (instructionForm.get('translatorEmail').touched||instructionFromSubmit)}">
                <div class="invalid-feedback"
                  *ngIf="(instructionForm.get('translatorEmail').touched||instructionFromSubmit) && instructionForm.get('translatorEmail').hasError('email')">
                  Email is not valid.
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <label>Phone</label>
                <input type="text" appOnlynumbers formControlName="translatorPhone" class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label>Co</label>
                <input type="text" formControlName="translatorCO" class="form-control" placeholder="">
              </div>
            </div>
            <br>
            <br>
            <h5 class="m-0">Required Medical Record</h5>
            <hr>
            <div class="form-group row">
              <ng-container formArrayName="requiredMedicalRecordFormArray">
                <div class="col-lg-12 col-md-12">
                  <div class="row">
                    <div class="col-lg-4" *ngFor="let group of requiredMedicalRecordFormArray.controls; let i = index;">
                      <label>{{group.get('recordName').value}}</label>
                      <input type="file" #file class="form-control" placeholder="" [formControl]="group.get('files')"
                        [ngClass]="{'is-invalid': group.get('files').errors 
                    && (group.get('files').touched||instructionFromSubmit)}"
                        (change)="onSelectFile(file.files,group.get('recordName').value)">
                      <div class="invalid-feedback"
                        *ngIf="(group.get('files').touched||instructionFromSubmit) && group.get('files').hasError('required')">
                        This field is required
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <br>
            <br>
            <h5 class="m-0">Other Medical Record</h5>
            <hr>
            <div class="row">
              <div class="col-lg-12 col-sm-12 text-right">
                <a class="text-primary" (click)="addOtherMedicalRecord()" style="cursor: pointer;"><i
                    class="material-icons">add</i></a>
              </div>
            </div>
            <ng-container formArrayName="otherMedicalRecordFormArray">
              <div class="form-group row" *ngFor="let group of otherMedicalRecordFormArray.controls; let i = index;">
                <div class="col-lg-4 col-md-4">
                  <label>Record Name</label>
                  <input type="text" appAlphabetsOnly class="form-control" placeholder=""
                    [formControl]="group.get('recordName')" [ngClass]="{'is-invalid': group.get('recordName').errors 
                  && (group.get('recordName').touched||instructionFromSubmit)}">
                  <div class="invalid-feedback"
                    *ngIf="(group.get('recordName').touched||instructionFromSubmit) && group.get('recordName').hasError('required')">
                    This field is required
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <label>Upload Files</label>
                  <input type="file" #otherMedicalFiles class="form-control" placeholder=""
                    [formControl]="group.get('files')" [ngClass]="{'is-invalid': group.get('files').errors 
                  && (group.get('files').touched||instructionFromSubmit)}"
                    (change)="onSelectOtherMedicalRecord(otherMedicalFiles.files,group.get('recordName').value)"
                    multiple>
                  <div class="invalid-feedback"
                    *ngIf="(group.get('files').touched||instructionFromSubmit) && group.get('files').hasError('required')">
                    This field is required
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 text-right">
                  <button class="btn btn-sm danger-gradient mr-2" style="margin-top: 32px;"
                    (click)="removeOtherMedicalRecordRow(i)">Remove</button>
                </div>
              </div>
            </ng-container>

            <br>
            <br>
            <h5 class="m-0">Case Info</h5>
            <hr>
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label>Accident Circumstances</label>
                <input type="text" class="form-control" placeholder="" formControlName="accidentCircumstances"
                  [ngClass]="{'is-invalid': instructionForm.get('accidentCircumstances').errors 
                && (instructionForm.get('accidentCircumstances').touched||instructionFromSubmit)}">
                <div class="invalid-feedback"
                  *ngIf="(instructionForm.get('accidentCircumstances').touched||instructionFromSubmit) && instructionForm.get('accidentCircumstances').hasError('required')">
                  This field is required
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <label>Assignment Date</label>
                <input type="text" class="form-control" placeholder="Assignment Date" formControlName="assignmentDate" [ngClass]="{'is-invalid': instructionForm.get('assignmentDate').errors 
                && (instructionForm.get('assignmentDate').touched||instructionFromSubmit)}" bsDatepicker>
                <div class="invalid-feedback"
                  *ngIf="(instructionForm.get('assignmentDate').touched||instructionFromSubmit) && instructionForm.get('assignmentDate').hasError('required')">
                  This field is required
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <div class="row">
                  <div class="col-lg-6">
                    <label>Priority</label>
                    <input type="text" class="form-control" placeholder="" formControlName="priority" [ngClass]="{'is-invalid': instructionForm.get('priority').errors 
                    && (instructionForm.get('priority').touched||instructionFromSubmit)}">
                    <div class="invalid-feedback"
                      *ngIf="(instructionForm.get('priority').touched||instructionFromSubmit) && instructionForm.get('priority').hasError('required')">
                      This field is required
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <label>Start Time</label>
                    <input type="time" class="form-control" formControlName="startTime" placeholder="">
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="row">
                  <div class="col-lg-6">
                    <label>Istruction Type</label>
                    <select2 [data]="expertTypes" [cssImport]="true" [ngClass]="{'is-invalid': instructionForm.get('instructionType').errors 
                    && (instructionForm.get('instructionType').touched||instructionFromSubmit)}" width="100%"
                      (valueChanged)="onSelectOption($event,'instructionType')">
                    </select2>
                    <div class="invalid-feedback"
                      *ngIf="(instructionForm.get('instructionType').touched||instructionFromSubmit) && instructionForm.get('instructionType').hasError('required')">
                      This field is required
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <label>Appointment Date</label>
                    <input type="text" class="form-control" placeholder="Appointment Date" formControlName="appointmentDate" [ngClass]="{'is-invalid': instructionForm.get('appointmentDate').errors 
                    && (instructionForm.get('appointmentDate').touched||instructionFromSubmit)}" bsDatepicker>
                    <div class="invalid-feedback"
                      *ngIf="(instructionForm.get('appointmentDate').touched||instructionFromSubmit) && instructionForm.get('appointmentDate').hasError('required')">
                      This field is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <label>Clinic Type</label>
                    <select2 [data]="expertTypes" [cssImport]="true" [ngClass]="{'is-invalid': instructionForm.get('clinicType').errors 
                    && (instructionForm.get('clinicType').touched||instructionFromSubmit)}" width="100%"
                      (valueChanged)="onSelectOption($event,'clinicType')">
                    </select2>
                    <div class="invalid-feedback"
                      *ngIf="(instructionForm.get('clinicType').touched||instructionFromSubmit) && instructionForm.get('clinicType').hasError('required')">
                      This field is required
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <label>No Of Sessions</label>
                    <input type="text" class="form-control" placeholder="" formControlName="noOfSessions" [ngClass]="{'is-invalid': instructionForm.get('noOfSessions').errors 
                    && (instructionForm.get('noOfSessions').touched||instructionFromSubmit)}">
                    <div class="invalid-feedback"
                      *ngIf="(instructionForm.get('noOfSessions').touched||instructionFromSubmit) && instructionForm.get('noOfSessions').hasError('required')">
                      This field is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="media" style="margin-top: 35px;">
                      <div class="custom-control custom-checkbox todo-checkbox">
                        <input type="checkbox" class="custom-control-input" id="isInitialAssessment"
                          formControlName="isInitialAssessment">
                        <label class="custom-control-label " for="isInitialAssessment"></label>
                      </div>
                      <div class="media-body">
                        <h6 class="my-0 text-truncated">Is Initial Assessment</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="media" style="margin-top: 35px;">
                      <div class="custom-control custom-checkbox todo-checkbox">
                        <input type="checkbox" class="custom-control-input" id="isCourtCase"
                          formControlName="isCourtCase">
                        <label class="custom-control-label " for="isCourtCase"></label>
                      </div>
                      <div class="media-body">
                        <h6 class="my-0 text-truncated">Is Court Case</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <div class="row">
                  <div class="col-lg-6">
                    <label>Court Date</label>
                    <input type="text" class="form-control" placeholder="Court Date" formControlName="courtDate" [ngClass]="{'is-invalid': instructionForm.get('courtDate').errors 
                    && (instructionForm.get('courtDate').touched||instructionFromSubmit)}" bsDatepicker>
                    <div class="invalid-feedback"
                      *ngIf="(instructionForm.get('courtDate').touched||instructionFromSubmit) && instructionForm.get('courtDate').hasError('required')">
                      This field is required
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <label>Instruction DeadLine Date</label>
                    <input type="text" class="form-control" placeholder="DeadLine Date" formControlName="instructionDeadLineDate" bsDatepicker>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="media" style="margin-top: 35px;">
                      <div class="custom-control custom-checkbox todo-checkbox">
                        <input type="checkbox" class="custom-control-input" id="isTralatorRequired"
                          formControlName="isTranslatorRequired">
                        <label class="custom-control-label " for="isTralatorRequired"></label>
                      </div>
                      <div class="media-body">
                        <h6 class="my-0 text-truncated">Is Translator Required</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-center border-top">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</div>