<div class="container-fluid bg-light-opac">
  <div class="row">
      <div class="container my-3 main-container">
          <div class="row align-items-center">
              <div class="col">
                  <h2 class="content-color-primary page-title">Instructions</h2>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container mt-4 main-container">
  <div class="card mb-4">
      <div class="card-header border-bottom">
          <h5 class="content-color-primary mb-0">New Instruction</h5>
      </div>
      <div class="card-body">
          <div class="row justify-content-center">
              <div class="col-md-10 mx-auto">
                  <div class="row ">
                      <div class="col-lg-12 col-md-12 text-center">
                          <img src="../../../../assets/img/idoxlogo.png" alt="" class="mw-100 mt-4" style="width: 180px; height: 112px;">
                          <br>
                          <p class="text-secondary mt-3">Creative, amazing, awesome and unique</p>
                      </div>
                  </div>
                  <br>
                  <h5 class="m-0">Personal Info</h5>
                  <hr>
                  <div class="form-group row">
                      <div class="col-lg-6 col-md-6">
                          <label>First Name</label>
                          <input type="text" class="form-control" placeholder="">
                      </div>
                      <div class="col-lg-6 col-md-6">
                          <label>Last Name</label>
                          <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-6 col-md-6">
                        <label>Middle Name</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>Gender</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                  <div class="form-group row">
                      <div class="col-lg-6 col-md-6">
                          <label>Email</label>
                          <input type="email" class="form-control" placeholder="">
                      </div>
                      <div class="col-lg-6 col-md-6">
                          <label>Phone Number</label>
                          <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-lg-6 col-md-6">
                          <label>Address Line1</label>
                          <input type="email" class="form-control" placeholder="">
                      </div>
                      <div class="col-lg-6 col-md-6">
                          <label>Address Line2</label>
                          <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-lg-6 col-md-6">
                          <div class="row">
                              <div class="col-lg-6">
                                  <label>Country</label>
                                  <select class="form-control " data-live-search="true" tabindex="-1" aria-hidden="true">
                                      <option value="AF">Afghanistan</option>
                                      <option value="AX">Åland Islands</option>
                                      <option value="AL">Albania</option>
                                      <option value="DZ">Algeria</option>
                                      <option value="AS">American Samoa</option>
                                      <option value="AD">Andorra</option>
                                      <option value="AO">Angola</option>
                                      <option value="AI">Anguilla</option>
                                      <option value="AQ">Antarctica</option>
                                      <option value="AG">Antigua and Barbuda</option>
                                      <option value="AR">Argentina</option>
                                      <option value="AM">Armenia</option>
                                      <option value="AW">Aruba</option>
                                  </select>
                              </div>
                              <div class="col-lg-6">
                                  <label>Town</label>
                                  <input type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                          <div class="row">
                              <div class="col-lg-6">
                                  <label>Co</label>
                                  <select class="form-control" data-live-search="true" tabindex="-1" aria-hidden="true">
                                      <option value="AL">Alabama</option>
                                      <option value="AK">Alaska</option>
                                      <option value="AZ">Arizona</option>
                                  </select>
                              </div>
                              <div class="col-lg-6">
                                  <label>Post Code</label>
                                  <input type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                      </div>
                  </div>
                  <br>
                  <br>
                  <h5 class="m-0">Case Handler</h5>
                  <hr>
                  <div class="form-group row">
                      <div class="col-lg-6 col-md-6">
                          <div class="row">
                              <div class="col-lg-6">
                                <label>Case Handler Name</label>
                                <input type="text" class="form-control" placeholder="">
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <label>Case Handler Email</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                          <div class="row">
                              <div class="col-lg-6">
                                <label>Case Handler Phone</label>
                                <input type="email" class="form-control" placeholder="">
                              </div>
                              <div class="col-lg-6">
                                <label>Case Handler Fax</label>
                                <input type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group ">
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="agreement">
                                  <label class="custom-control-label" for="agreement">I agree with terms and condition. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget tincidunt nisi, sed porta ligula. Vestibulum consequat sed lorem sed auctor. In hac habitasse platea dictumst. Fusce vulputate justo in mi auctor, ac dignissim dolor aliquet. Duis sit amet aliquam quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. In non dictum turpis. Nam fringilla vulputate augue in mattis. Nullam quis libero turpis. Cras maximus eu lorem sit amet ornare.</label>
                              </div>

                          </div>
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-md-12">
                          <label>Attachments</label>
                          <br>
                          <div class="custom-dropzone text-center align-items-center dz-clickable" id="my-dropzone">
                              <div class="dz-default dz-message" data-dz-message="">
                                  <h3 class="mb-0"><i class="material-icons">cloud_download</i></h3>
                                  <p>Drop here or click here to upload</p>
                              </div>
                          </div>

                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-lg-6 col-md-6">
                          <label>Location</label>
                          <input type="text" class="form-control" placeholder="">
                      </div>
                      <div class="col-lg-6 col-md-6">
                          <label>Date</label>
                          <input type="text" class="form-control datepicker" placeholder="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="card-footer">
          <button class="btn btn-secondary">Cancel</button>
          <button class="btn btn-success float-right">Submit</button>
      </div>
  </div>
</div>