<div class="row" style="min-height: 50px;">
  <div class="col-sm-12 col-sm-12 text-right">
    <button class="btn btn-sm primary-gradient mr-2" (click)="addRequiredMedicalRecord()"><i
        class="material-icons">add</i></button>
  </div>
  <div class="col-lg-12 col-md-12">
    <form [formGroup]="medicalRecordRequiredForm" *ngIf="medicalRecordRequiredForm" (ngSubmit)="saveRequiredMedicalRecord()">
      <table class="table">
        <thead>
          <tr>
            <th>Medical Expert Type</th>
            <th>Medical Record Name</th>
            <th>Is Required</th>
            <th>Action</th>
          </tr>
        </thead>
        <ng-container formArrayName="requiredRecordFormArray" *ngFor="let group of requiredRecordFormArray.controls; let i = index;">
          <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
            <td>
              <select class="form-control" [formControl]="group.get('medicalRecordType')"
               [ngClass]="{'is-invalid': group.get('medicalRecordType')?.errors  && (group.get('medicalRecordType')?.touched||medicalRecordRequiredFormSubmit)}">
                <option value="">Select Option</option>
                <option value="Record">Record</option>
                <option value="Report">Report</option>
              </select>
              <div class="invalid-feedback"
                *ngIf="(group.get('medicalRecordType')?.touched||medicalRecordRequiredFormSubmit) && group.get('medicalRecordType')?.hasError('required')">
                This field is required</div>
            </td>
            <td>
              <input type="text" class="form-control" [formControl]="group.get('medicalRecordName')" placeholder=""
                [ngClass]="{'is-invalid': group.get('medicalRecordName')?.errors && (group.get('medicalRecordName')?.touched||medicalRecordRequiredFormSubmit)}">
              <div class="invalid-feedback"
                *ngIf="(group.get('medicalRecordName')?.touched||medicalRecordRequiredFormSubmit) && group.get('medicalRecordName')?.hasError('required')">
                This field is required</div>
            </td>
            <td></td>
            <td>
              <button type="submit" class="btn btn-sm primary-gradient mr-2" (click)="saveRequiredMedicalRecord(group)">Save</button>
            </td>
          </tr>
          <tr *ngIf="!group.get('isEditable').value">
            <td>{{group.get('medicalRecordType').value}}</td>
            <td>{{group.get('medicalRecordName').value}}</td>
            <td>
                <span *ngIf="group.get('isRequired').value" class="text-success"><i class="material-icons">check</i></span>
                <span *ngIf="!group.get('isRequired').value" class="text-danger"><i class="material-icons">close</i></span>
            </td>
            <td>
              <button type="button" class="btn btn-sm primary-gradient mr-2" (click)="editMedicalRecord(group)">Edit</button>
              <button type="button" class="btn btn-sm danger-gradient mr-2" (click)="deleteMedicalRequiredRecord(group.get('id').value)">Delete</button>
            </td>
          </tr>
        </ng-container>
      </table>
    </form>
  </div>
</div>
<div class="text-right border-top">
  <button type="button" (click)="onNextStep()" class="form-continue-btn">
    {{ showButtonLabel() }}
  </button>
</div>