<div class="row mt-2 mb-2">
  <div class="col-sm-12 text-right">
    <button type="button" class="btn btn-success btn-sm" (click)="openExpertDNASModel(addExpertDNAS)">
      <i class="material-icons">add</i>
    </button>
  </div>
</div>

<div class="row">
  <table class="table">
    <tr>
      <th>Sr.</th>
      <th>No Of DNA</th>
      <th>Range By</th>
      <th>Start Time (minute)</th>
      <th>End Time (minute)</th>
      <th>Chart Amount</th>
      <th>Charge Percentage</th>
      <th>IsActive</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let item of expertDnasList; let i=index;">
      <td>{{i+1}}</td>
      <td>{{item.noOfDna}}</td>
      <td>{{item.rangeBy}}</td>
      <td>{{item.startRange}}</td>
      <td>{{item.endRange}}</td>
      <td>{{item.chargeAmt}}</td>
      <td>{{item.chargePercent}}</td>
      <td>
        <button title="Update status" type="button" *ngIf="item.isActive" class="btn btn-success btn-sm" (click)="updateServiceStatus(item.id,'IsActive',0,'DNASlab')">{{item.isActive}}</button>
        <button title="Update status" type="button" *ngIf="!item.isActive" class="btn btn-secondary btn-sm" (click)="updateServiceStatus(item.id,'IsActive',1,'DNASlab')">{{item.isActive}}</button>
      </td>
      <td>
        <button type="button" class="btn pink-gradient btn-sm mr-1" (click)="editExpertDNAS(item.id)">Edit</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="updateServiceStatus(item.id,'IsDeleted',1,'DNASlab')">Delete</button>
      </td>
    </tr>
  </table>
</div>


<ng-template #addExpertDNAS>
  <div class="modal-header pink-gradient">
    <h4 class="modal-title pull-left">DNAS</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="dnasForm" *ngIf="dnasForm" (ngSubmit)="saveExpertDNAS()">
      <div class="row ">
        <div class="col-lg-12 col-md-12">
          <div class="form-group ">
            <label>No Of DNA</label>
            <input class="form-control" appOnlynumbers placeholder="No Of Data" formControlName="noOfDna" [ngClass]="{'is-invalid': dnasForm.get('noOfDna').errors 
            && (dnasForm.get('noOfDna').touched||dnasFormSubmitted)}" />
            <div class="invalid-feedback"
              *ngIf="(dnasForm.get('noOfDna').touched||dnasFormSubmitted) && dnasForm.get('noOfDna').hasError('required')">
              This field is required
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-12 col-md-12">
          <div class="form-group ">
            <label>Range By</label>
            <select class="form-control" formControlName="rangeBy" [ngClass]="{'is-invalid': dnasForm.get('rangeBy').errors 
            && (dnasForm.get('rangeBy').touched||dnasFormSubmitted)}">
              <option value="">Select Option</option>
              <option value="Hourly">Hourly</option>
              <option value="Weekly">Weekly</option>
              <option value="Monthly">Monthly</option>
            </select>
            <div class="invalid-feedback"
              *ngIf="(dnasForm.get('rangeBy').touched||dnasFormSubmitted) && dnasForm.get('rangeBy').hasError('required')">
              This field is required
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-12 col-md-12">
          <div class="form-group ">
            <label>Start Range (minute)</label>
            <input type="text" appOnlynumbers  class="form-control" placeholder="Start Range" formControlName="startRange" [ngClass]="{'is-invalid': dnasForm.get('startRange').errors 
            && (dnasForm.get('startRange').touched||dnasFormSubmitted)}">
            <div class="invalid-feedback"
              *ngIf="(dnasForm.get('startRange').touched||dnasFormSubmitted) && dnasForm.get('startRange').hasError('required')">
              This field is required
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-12 col-md-12">
          <div class="form-group ">
            <label>End Range (minute)</label>
            <input type="text" appOnlynumbers class="form-control" formControlName="endRange" placeholder="End Range" [ngClass]="{'is-invalid': dnasForm.get('endRange').errors 
            && (dnasForm.get('endRange').touched||dnasFormSubmitted) || (dnasForm.get('endRange').touched&& dnasForm.hasError('endRangeGreater'))}">
            <div class="invalid-feedback"
              *ngIf="(dnasForm.get('endRange').touched||dnasFormSubmitted) && dnasForm.get('endRange').hasError('required')">
              This field is required
            </div>
            
          <div class="invalid-feedback"
          *ngIf="dnasForm.hasError('endRangeGreater') && dnasForm.get('endRange').touched">End Range Time
          must be greater!</div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-12 col-md-12">
          <div class="form-group ">
            <label>Charge Amount</label>
            <input type="text" appOnlynumbers class="form-control" formControlName="chargeAmt" placeholder="Charge Amount" [ngClass]="{'is-invalid': dnasForm.get('chargeAmt').errors 
            && (dnasForm.get('chargeAmt').touched||dnasFormSubmitted)}">
            <div class="invalid-feedback"
              *ngIf="(dnasForm.get('chargeAmt').touched||dnasFormSubmitted) && dnasForm.get('chargeAmt').hasError('required')">
              This field is required
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-12 col-md-12">
          <div class="form-group ">
            <label>Charge Percentage</label>
            <input type="text" appOnlynumbers class="form-control" formControlName="chargePercent" placeholder="Charge Percentage"
              [ngClass]="{'is-invalid': dnasForm.get('chargePercent').errors 
            && (dnasForm.get('chargePercent').touched||dnasFormSubmitted)}">
            <div class="invalid-feedback"
              *ngIf="(dnasForm.get('chargePercent').touched||dnasFormSubmitted) && dnasForm.get('chargePercent').hasError('required')">
              This field is required
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success float-right">Submit</button>
    </form>
  </div>
</ng-template>