<ngx-loading-bar color="#1e90ff" height="5px"></ngx-loading-bar>
<div class="container-fluid">
  <div class="row">

    <div class="col-12 col-xl-12 u-p-zero">
      <div class="c-toolbar u-mb-xsmall">     
        <div class="c-field u-mb-small">
          <div class="row" style="margin-left: 5%;">
            <div class="c-field row" style="width:45%;">
              <label class="c-field__label" for="ExpertType">Venue Type:</label>
              <select class="c-input" id="ExpertType" style="height: 30px;padding: 0.1rem 0.9rem;width: 90%;" (change)="SearchSelectedExpertType($event.target.value)">
                <option value="0">All</option>
           <option *ngFor="let data of ExpertsTypeList"  [value]="data.ExpertTypeID">{{data.ExpertCategories}}</option>
              </select>
              <label class="c-field__label" for="ExpertType">Venue Expert:</label>
              <select class="c-input" id="ExpertType1" style="height: 30px;padding: 0.1rem 0.9rem;width: 90%;margin-bottom: 3%;" (change)="SearchSelectedExpert($event.target.value)">
                <option value="0">All</option>
           <option *ngFor="let data of ExpertsList"  [value]="data.ID">{{data.FullName}}</option>
              </select>
              <button class="c-btn c-btn--info" style="height:42px;" (click)=" SearchExpertVenues()">
                <i class="fa fa-search u-mr-xsmall"></i>Search
            </button>
            </div>
            <div class="c-field row" style="width:20%;margin-left: 30%;">
              <label class="c-field__label" for="input1">Create Venue</label> 
                <button class="c-btn c-btn--info" style="height:42px;margin-bottom:74%;" data-toggle="modal" data-target="#CreateVenueModal">
                    <i class="fa fa-user u-mr-xsmall"></i>Create Venue
                </button>
             </div>
          </div>

        </div>
        
    </div>

    <div class="row u-m-small">

      <div class="col-md-12">
           <span class="c-divider has-text u-mb-medium">Venue Data</span>
      </div>
    
      <div class="col-md-12">
        <div class="c-table-responsive">
            <table class="c-table c-table--zebra u-mb-small" id="datatable3" style="display: inline-table;">
                <thead class="c-table__head">
                    <tr class="c-table__row">
                      <th class="c-table__cell c-table__cell--head">Sr.</th>
                      <th class="c-table__cell c-table__cell--head">Description</th>
                      <th class="c-table__cell c-table__cell--head">Address</th>
                      <th class="c-table__cell c-table__cell--head">Phone No.</th>
                      <th class="c-table__cell c-table__cell--head">Status</th>
                      <th class="c-table__cell c-table__cell--head">Action</th>
 
                    </tr>
                </thead>

                <tbody>
                  <tr class="c-table__row" *ngFor="let item of ExpertVenueData |filter:filter| paginate: { itemsPerPage: 6, currentPage: p };  let i = index">
                     <td class="c-table__cell">
                      {{i+1}}
                    </td>
                    <td class="c-table__cell">
                      {{item.Description}}
                    </td>
                    <td class="c-table__cell">
                      {{item.AddressLine1}}
                    </td>
                    <td class="c-table__cell">
                      {{item.PhoneNo}}
                    </td>
                    <td class="c-table__cell" *ngIf="item.Status == 'A'">Active</td>
                    <td class="c-table__cell" *ngIf="item.Status == 'I'">InActive</td>
                      
                        
                        <td class="c-table__cell">
                          <button class="c-btn c-btn--info" (click)="selectedUserDetail(item)" data-toggle="modal" data-target="#UpdateVenueModal">
                            <i class="fa fa-pencil-square-o u-mr-xsmall"></i>Edit
                        </button>
                          <button class="c-btn c-btn--danger" style="margin-left: 2%;"  (click)="Delete(item.ID)" data-toggle="modal" data-target="#DeleteUserModal" >
                              <i class="fa fa-trash-o u-mr-xsmall"></i>Delete
                          </button>

                        </td>                      
                    </tr>
                                                               
                </tbody>
                 
            </table>

        </div><br/>
        <ul class="pagination">  
          <pagination-controls (pageChange)="p = $event"></pagination-controls>  
          </ul> 


    </div>
  </div><!-- // .row -->


</div>
 </div><!-- // .row -->
</div><!-- // Container -->


<div class="c-modal c-modal--xlarge modal fade show" id="CreateVenueModal" tabindex="-1" role="dialog" aria-labelledby="CreateVenueModal" data-backdrop="static">
  <div class="c-modal__dialog modal-dialog" role="document">
      <div class="c-modal__content" style="width: 110%;">
          
          <div class="c-modal__header">
              <h3 class="c-modal__title">New Venue</h3>

              <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                  <i class="fa fa-close"></i>
              </span>
          </div>
          <div class="c-modal__body">
            <form  style="align-content: center;" #createUserForm= "ngForm" (ngSubmit)="Create()">
              <div style="border: 1px solid;border-color: lightgray;padding: 10px;border-radius: 5px;">
                <div class="row" style="margin-left: 5%;">
                  <div class="c-field row" style="width:45%;">
                    <label class="c-field__label" for="ExpertType">Venue Type:</label>
                    <select class="c-input" id="ExpertType" style="height: 30px;padding: 0.1rem 0.9rem;width: 90%;" (change)="CreationSelectedExpertType($event.target.value)">
                      <option value="0">All</option>
                 <option *ngFor="let data of ExpertsTypeList"  [value]="data.ExpertTypeID">{{data.ExpertCategories}}</option>
                    </select>
                  </div>
              </div><br />
                  <div style="background-color:lightskyblue;border-radius: 5px;"><h4 style="margin-left: 5%;color:white;border-radius: 25px;">Venue Information</h4></div>
             <br />
             <div class="row" style="margin-left: 5%;">
              <div class="c-field row" style="width:45%;">
                <label class="c-field__label" for="ExpertType">Venue Expert:</label>
                <select class="c-input" id="ExpertType1" style="height: 30px;padding: 0.1rem 0.9rem;width: 90%;margin-bottom: 3%;" (change)="CreationSelectedExpert($event.target.value)">
                  <option value="0">All</option>
             <option *ngFor="let data of CreationExpertsList"  [value]="data.ID">{{data.FullName}}</option>
                </select>
              </div>
          </div><br />
          <div class="row" style="margin-left: 5%;">
            <div class="c-field row">
                <label class="c-field__label" for="VenueInput">Venue</label> 
                <input class="c-input" style="width:94%;height: 30px;" type="text" id="VenueInput"  
                name="FName"  placeholder="Name" [(ngModel)]="CreateExpertVenue.Description" #CustNam="ngModel"
                [ngModelOptions]="{standalone: true}">
            </div>
        </div><br />
        <div class="row" style="margin-left: 5%;">
          <div class="c-field row">
              <label class="c-field__label" for="Address">Address</label> 
              <input class="c-input" style="width:94%;height: 30px;" type="text" id="Address"  
              name="FName"  placeholder="Name" [(ngModel)]="CreateExpertVenue.AddressLine1" #CustNam="ngModel"
              [ngModelOptions]="{standalone: true}">
          </div>
      </div><br />
          <div class="row" style="margin-left: 5%;">
            <div class="c-field row" style="width:45%;">
                <label class="c-field__label" for="Country">Country</label> 
                <input class="c-input" style="width:90%;height: 30px;" type="text" id="Country"  
                name="FName"  placeholder="Name" [(ngModel)]="CreateExpertVenue.County" #CustNam="ngModel"
                [ngModelOptions]="{standalone: true}">
            </div>
            <div class="c-field row" style="margin-left: 10%;width:45%;">
              <label class="c-field__label" for="Town">Town</label> 
              <input class="c-input" style="width:90%;height: 30px;" type="text" id="Town"  
              name="FName"  placeholder="Name" [(ngModel)]="CreateExpertVenue.Town" #CustNam="ngModel"
              [ngModelOptions]="{standalone: true}">
            </div>
        </div><br />
        <div class="row" style="margin-left: 5%;">
          <div class="c-field row" style="width:45%;">
              <label class="c-field__label" for="PostCode">Post Code</label> 
              <input class="c-input" style="width:90%;height: 30px;" type="text" id="PostCode"  
              name="FName"  placeholder="Name" [(ngModel)]="CreateExpertVenue.PostCode" #CustNam="ngModel"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="c-field row" style="margin-left: 10%;width:45%;">
            <label class="c-field__label" for="VenuePhone">Venue Phone #</label> 
              <input class="c-input" style="width:90%;height: 30px;" type="text" id="VenuePhone"  
              name="FName"  placeholder="Name" [(ngModel)]="CreateExpertVenue.PhoneNo" #CustNam="ngModel"
              [ngModelOptions]="{standalone: true}">
          </div>
      </div><br />
      <div class="row" style="margin-left: 5%;">
        <div class="c-field row">
            <label class="c-field__label" for="MapLink">Map Link</label> 
            <input class="c-input" style="width:94%;height: 30px;" type="text" id="MapLink"  
            name="FName"  placeholder="Name" [(ngModel)]="CreateExpertVenue.MapLink" #CustNam="ngModel"
            [ngModelOptions]="{standalone: true}">
        </div>
    </div><br />
            <div class="row" style="margin-left: 5%;">
              <div class="c-field row" style="width:95%;">
                  <label  class="c-field__label" for="Summary">Summary</label>
                  <textarea class="c-input" id="Summary" name="message" [(ngModel)]="CreateExpertVenue.Summary" #CustNam="ngModel"
                  [ngModelOptions]="{standalone: true}"></textarea>
              </div>
              </div><br/>
              <div class="row" style="margin-left:4%;width: 30%;">
                <div class="c-choice c-choice--checkbox" style="width:90%;">
                  <input class="c-choice__input" id="checkbox1" name="checkboxes" type="checkbox" [(ngModel)]="CreateExpertVenue.IsParkingFacility" #CustNam="ngModel"
                  [ngModelOptions]="{standalone: true}">
                  <label class="c-choice__label" for="checkbox1">Is Parking Facility?</label>
              </div>
              </div><br />
              <div class="row" style="margin-left:4%;width: 30%;">
                <div class="c-choice c-choice--checkbox" style="width:90%;">
                  <input class="c-choice__input" id="checkbox2" name="checkboxes" type="checkbox" [(ngModel)]="CreateExpertVenue.IsDisabledAccess" #CustNam="ngModel"
                  [ngModelOptions]="{standalone: true}">
                  <label class="c-choice__label" for="checkbox2">Is Disabled Access?</label>
              </div>
              </div><br />
              <div class="row" style="margin-left: 5%;">
                <div class="c-field row" style="width:45%;">
                  <label class="c-field__label" for="UploadImages">Upload Images</label> 
                  <input class="c-input" style="width:90%;" type="file" id="UploadImages" (change)="UploadImage($event.target.files)">
                </div>
              </div><br />      
              <div class="row" style="margin-left: 5%;margin-bottom: 3%;">
                <div class="c-field row" style="width:45%;">
                  <label class="c-field__label" for="status">Status</label>
                  <select class="c-input" id="status" style="width: 50%;"  (change)="selectedStatus($event.target.value)">
                    <option  value="">--Please Select--</option>
                    <option  value="A">Active</option>
                    <option  value="I">InActive</option>
                  </select>
                </div>
              </div><br />
           

    <div class="u-flex" style="margin-top: 15px;">
      <button type="button" (click)="showLeadsDetails = !showLeadsDetails" style="margin-left: 5%;" class="c-btn c-btn--danger">Clear</button>
      <button type="submit" class="c-btn c-btn--success" style="margin-left: 2%;" [disabled]="!createUserForm.valid">Save</button>
      
  </div> <br/>

    

</div>




            </form>
              
          </div>

      </div><!-- // .c-modal__content -->
  </div><!-- // .c-modal__dialog -->
</div>


<div class="c-modal c-modal--xlarge modal fade show" id="UpdateVenueModal" tabindex="-1" role="dialog" aria-labelledby="UpdateVenueModal" data-backdrop="static">
  <div class="c-modal__dialog modal-dialog" role="document">
      <div class="c-modal__content" style="width: 110%;">
          
          <div class="c-modal__header">
              <h3 class="c-modal__title">Edit Venue</h3>

              <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                  <i class="fa fa-close"></i>
              </span>
          </div>
          <div class="c-modal__body">
            <form  style="align-content: center;" #createUserForm= "ngForm" (ngSubmit)="Update()">
              <div style="border: 1px solid;border-color: lightgray;padding: 10px;border-radius: 5px;">
                <div class="row" style="margin-left: 5%;">
                  <div class="c-field row" style="width:45%;">
                    <label class="c-field__label" for="ExpertType">Venue Type:</label>
                    <select class="c-input" id="ExpertType" style="height: 30px;padding: 0.1rem 0.9rem;width: 90%;" (change)="UpdationSelectedExpertType($event.target.value)">
                      <option value="0">All</option>
                 <option *ngFor="let data of ExpertsTypeList" [selected]="SelectedExpertVenue.ExpertVenueTypeID == data.ExpertTypeID"  [value]="data.ExpertTypeID">{{data.ExpertCategories}}</option>
                    </select>
                  </div>
              </div><br />
                  <div style="background-color:lightskyblue;border-radius: 5px;"><h4 style="margin-left: 5%;color:white;border-radius: 25px;">Venue Information</h4></div>
             <br />
             <div class="row" style="margin-left: 5%;">
              <div class="c-field row" style="width:45%;">
                <label class="c-field__label" for="ExpertType">Venue Expert:</label>
                <select class="c-input" id="ExpertType1" style="height: 30px;padding: 0.1rem 0.9rem;width: 90%;margin-bottom: 3%;" (change)="UpdationSelectedExpert($event.target.value)">
                  <option value="0">All</option>
             <option *ngFor="let data of CreationExpertsList" [selected]="SelectedExpertVenue.ExpertID == data.ID"  [value]="data.ID">{{data.FullName}}</option>
                </select>
              </div>
          </div><br />
          <div class="row" style="margin-left: 5%;">
            <div class="c-field row">
                <label class="c-field__label" for="VenueInput">Venue</label> 
                <input class="c-input" style="width:94%;height: 30px;" type="text" id="VenueInput"  
                name="FName"  placeholder="Name" [(ngModel)]="SelectedExpertVenue.Description" #CustNam="ngModel"
                [ngModelOptions]="{standalone: true}">
            </div>
        </div><br />
        <div class="row" style="margin-left: 5%;">
          <div class="c-field row">
              <label class="c-field__label" for="Address">Address</label> 
              <input class="c-input" style="width:94%;height: 30px;" type="text" id="Address"  
              name="FName"  placeholder="Name" [(ngModel)]="SelectedExpertVenue.AddressLine1" #CustNam="ngModel"
              [ngModelOptions]="{standalone: true}">
          </div>
      </div><br />
          <div class="row" style="margin-left: 5%;">
            <div class="c-field row" style="width:45%;">
                <label class="c-field__label" for="Country">Country</label> 
                <input class="c-input" style="width:90%;height: 30px;" type="text" id="Country"  
                name="FName"  placeholder="Name" [(ngModel)]="SelectedExpertVenue.County" #CustNam="ngModel"
                [ngModelOptions]="{standalone: true}">
            </div>
            <div class="c-field row" style="margin-left: 10%;width:45%;">
              <label class="c-field__label" for="Town">Town</label> 
              <input class="c-input" style="width:90%;height: 30px;" type="text" id="Town"  
              name="FName"  placeholder="Name" [(ngModel)]="SelectedExpertVenue.Town" #CustNam="ngModel"
              [ngModelOptions]="{standalone: true}">
            </div>
        </div><br />
        <div class="row" style="margin-left: 5%;">
          <div class="c-field row" style="width:45%;">
              <label class="c-field__label" for="PostCode">Post Code</label> 
              <input class="c-input" style="width:90%;height: 30px;" type="text" id="PostCode"  
              name="FName"  placeholder="Name" [(ngModel)]="SelectedExpertVenue.PostCode" #CustNam="ngModel"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="c-field row" style="margin-left: 10%;width:45%;">
            <label class="c-field__label" for="VenuePhone">Venue Phone #</label> 
              <input class="c-input" style="width:90%;height: 30px;" type="text" id="VenuePhone"  
              name="FName"  placeholder="Name" [(ngModel)]="SelectedExpertVenue.PhoneNo" #CustNam="ngModel"
              [ngModelOptions]="{standalone: true}">
          </div>
      </div><br />
      <div class="row" style="margin-left: 5%;">
        <div class="c-field row">
            <label class="c-field__label" for="MapLink">Map Link</label> 
            <input class="c-input" style="width:94%;height: 30px;" type="text" id="MapLink"  
            name="FName"  placeholder="Name" [(ngModel)]="SelectedExpertVenue.MapLink" #CustNam="ngModel"
            [ngModelOptions]="{standalone: true}">
        </div>
    </div><br />
            <div class="row" style="margin-left: 5%;">
              <div class="c-field row" style="width:95%;">
                  <label  class="c-field__label" for="Summary">Summary</label>
                  <textarea class="c-input" id="Summary" name="message" [(ngModel)]="SelectedExpertVenue.Summary" #CustNam="ngModel"
                  [ngModelOptions]="{standalone: true}"></textarea>
              </div>
              </div><br/>
              <div class="row" style="margin-left:4%;width: 30%;">
                <div class="c-choice c-choice--checkbox" style="width:90%;">
                  <input class="c-choice__input" id="checkbox3" name="checkboxes" type="checkbox" [(ngModel)]="SelectedExpertVenue.IsParkingFacility" #CustNam="ngModel"
                  [ngModelOptions]="{standalone: true}">
                  <label class="c-choice__label" for="checkbox3">Is Parking Facility?</label>
              </div>
              </div><br />
              <div class="row" style="margin-left:4%;width: 30%;">
                <div class="c-choice c-choice--checkbox" style="width:90%;">
                  <input class="c-choice__input" id="checkbox4" name="checkboxes" type="checkbox" [(ngModel)]="SelectedExpertVenue.IsDisabledAccess" #CustNam="ngModel"
                  [ngModelOptions]="{standalone: true}">
                  <label class="c-choice__label" for="checkbox4">Is Disabled Access?</label>
              </div>
              </div><br />
              <div class="row" style="margin-left: 5%;">
                <div class="c-field row" style="width:45%;">
                  <label class="c-field__label" for="UploadImages">Upload Images</label> 
                  <input class="c-input" style="width:90%;" type="file" id="UploadImages" (change)="UpdationUploadImage($event.target.files)">
                </div>
              </div><br />      
              <div class="row" style="margin-left: 5%;margin-bottom: 3%;">
                <div class="c-field row" style="width:45%;">
                  <label class="c-field__label" for="status">Status</label>
                  <select class="c-input" id="status" style="width: 50%;"  (change)="UpdationselectedStatus($event.target.value)">
                    <option [selected]="SelectedExpertVenue.Status==''" value="">--Please Select--</option>
                    <option [selected]="SelectedExpertVenue.Status=='A'" value="A">Active</option>
                    <option [selected]="SelectedExpertVenue.Status=='I'" value="I">InActive</option>
                  </select>
                </div>
              </div><br />
           

    <div class="u-flex" style="margin-top: 15px;">
      <button type="button" (click)="showLeadsDetails = !showLeadsDetails" style="margin-left: 5%;" class="c-btn c-btn--danger">Clear</button>
      <button type="submit" class="c-btn c-btn--success" style="margin-left: 2%;" [disabled]="!createUserForm.valid">Save</button>
      
  </div> <br/>

  
</div>

            </form>
              
          </div>

      </div><!-- // .c-modal__content -->
  </div><!-- // .c-modal__dialog -->
</div>


