<ngx-loading-bar color="#1e90ff" height="5px"></ngx-loading-bar>
<!--page header-->
<div class="container-fluid bg-light-opac">
  <div class="row">
    <div class="container my-3 main-container">
      <div class="row align-items-center">
        <div class="col">
          <div class=" form-group row ">
            <div class="col-lg-6 col-md-6">
              <div class="form-group ">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="agreement" [(ngModel)]="SearchIsgoPrivate"
                    #CustNam="ngModel">
                  <label class="custom-control-label" for="agreement">Is go private user? </label>
                </div>
              </div>
              <div class="form-group ">
                <select class="form-control" id="salutation"
                  (change)="selectedGroupforSearchingUsers($event.target.value)">
                  <option>--Select Group--</option>
                  <option *ngFor="let GD of GroupData" [value]="GD.id">{{GD.description}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <button class="btn btn-rounded primary-gradient text-uppercase pr-3 mr-1" (click)="SearchUsers()"><i
              class="material-icons">search</i> Search</button>
          <button class="btn btn-rounded pink-gradient text-uppercase pr-3" data-toggle="modal"
            data-target="#CreateUserModal"><i class="material-icons">add</i> Create User</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--page header end-->

<!--page body-->
<div class="container mt-2 main-container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card rounded-0 border-0 mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col-8">
              <h5 class="card-title mb-0">Users Data</h5>
            </div>
            <div class="col text-right">
              <div class="dropdown">
                <button class="btn btn-link btn-sm text-secondary rounded-0 dropdown-toggle float-right icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" type="button">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" x-placement="top-end" style="position: absolute; transform: translate3d(178px, -147px, 0px); top: 0px; left: 0px !important; will-change: transform;">
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-exclamation-circle text-secondary"></i> Report</a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-cog text-secondary"></i> Settings</a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-trash text-secondary"></i> Remove</a>
                </div>
            </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Sr.</th>
                <th scope="col">Users Name</th>
                <th scope="col">Cell #</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of UserData | paginate: { itemsPerPage: 6, currentPage: currentPage };  let i = index">
                <td scope="row"> {{i+1}}</td>
                <td>{{item.UserName}}</td>
                <td>{{item.CellNo}}</td>
                <td>{{item.Email}}</td>
                <td>{{item.Email}}</td>
                <td *ngIf="item.Status == 'A'">Active</td>
                <td *ngIf="item.Status == 'I'">InActive</td>
                <td class="c-table__cell">
                  <button class="c-btn c-btn--info" (click)="selectedUserDetail(item)" data-toggle="modal"
                    data-target="#EditUserModal">
                    <i class="fa fa-pencil-square-o u-mr-xsmall"></i>Edit
                  </button>
                  <button class="c-btn c-btn--danger" style="margin-left: 2%;" (click)="DeleteUser(item)"
                    data-toggle="modal" data-target="#DeleteUserModal">
                    <i class="fa fa-trash-o u-mr-xsmall"></i>Delete
                  </button>

                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--page body end-->

<div class="modal fade" id="CreateUserModal" tabindex="-1" role="dialog" aria-labelledby="CreateUserModal"
  data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="width: 110%;">

      <div class="modal-header">
        <h3 class="modal-title">New User</h3>

        <span class="modal-close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-close"></i>
        </span>
      </div>
      <div class="modal-body">
        <form style="align-content: center;" #createUserForm="ngForm" (ngSubmit)="createUser()">
          <div style="border: 1px solid;border-color: lightgray;padding: 10px;border-radius: 5px;">
            <div style="background-color:lightskyblue;border-radius: 5px;">
              <h4 style="margin-left: 5%;color:white;border-radius: 25px;">User Information</h4>
            </div>
            <br />
            <div class=" form-group row ">
              <div class="col-lg-12 col-md-12">
                <div class="form-group ">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="agreement"
                      [(ngModel)]="CreateUser.IsGoPrivateUser" #CustNam="ngModel" name="checkboxes">
                    <label class="custom-control-label" for="agreement">Is go private user? </label>
                  </div>
                </div>
              </div>
            </div>
            <br />

            <div class="form-group row ">
              <div class="col-lg-6 col-md-6">
                <div class="form-group ">
                  <label>Group</label>
                  <select class="form-control" (change)="selectedGroupData($event.target.value)" data-live-search="true"
                    tabindex="-1" aria-hidden="true">
                    <option>--Please Select--</option>
                    <option *ngFor="let GD of GroupData" [value]="GD.id">{{GD.description}}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 col-md-6" *ngIf="ShowSelectedGroupData">
                <div class="form-group ">
                  <label>{{SelectedGroupName}}</label>
                  <select class="form-control" (change)="selectedGroupNameData($event.target.value)"
                    data-live-search="true" tabindex="-1" aria-hidden="true">
                    <option>--Please Select--</option>
                    <option *ngFor="let SGD of SelectedGroupData" [value]="SGD.id">{{SGD.fullName}}</option>
                  </select>
                </div>
              </div>
            </div>
            <br />
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="Name" id="FName" name="FName"
                  [(ngModel)]="CreateUser.FirstName" #CustNam="ngModel">
              </div>
              <div class="col-lg-6 col-md-6">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Name" id="LName" name="LName"
                  [(ngModel)]="CreateUser.LastName" #CustNam="ngModel">
              </div>
            </div>
            <br />
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label for="SecurityQuestion">Security Question</label>
                <select class="form-control" id="SecurityQuestion"
                  (change)="selectedSecurityQuestionData($event.target.value)">
                  <option>--Please Select--</option>
                  <option *ngFor="let SQD of SecurityQuestionData" [value]="SQD.id">{{SQD.description}}</option>
                </select>
              </div>
              <div class="col-lg-6 col-md-6">
                <label for="Answer">Answer</label>
                <input class="form-control" type="text" id="Answer" name="Answer" placeholder="Answer"
                  [(ngModel)]="CreateUser.SecurityQuestionAnswer" #CustNam="ngModel">
              </div>
            </div>
            <br />
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label for="HomePhone">Home Phone #</label>
                <input class="form-control" type="text" id="HomePhone" name="HomePhone" placeholder="Phone #"
                  [(ngModel)]="CreateUser.HomePhoneNo" #CustNam="ngModel">
              </div>
              <div class="col-lg-6 col-md-6">
                <label for="WorkPhone">Work Phone #</label>
                <input class="form-control" type="text" id="WorkPhone" name="WorkPhone" placeholder="Phone # "
                  [(ngModel)]="CreateUser.WorkPhoneNo" #CustNam="ngModel">
              </div>
            </div>
            <br />
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label for="Cell">Cell #</label>
                <input class="form-control" type="text" id="Cell" name="Cell" placeholder=""
                  [(ngModel)]="CreateUser.CellNo" #CustNam="ngModel">
              </div>
              <div class="col-lg-6 col-md-6">
                <label for="Fax">Fax #</label>
                <input class="form-control" type="text" id="Fax" name="Fax" placeholder="Fax No"
                  [(ngModel)]="CreateUser.FaxNo" #CustNam="ngModel">
              </div>
            </div>
            <br />
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label for="username">User Name</label>
                <input class="form-control" type="text" id="username" name="username" placeholder="Name"
                  [(ngModel)]="CreateUser.UserName" #CustNam="ngModel">
              </div>
              <div class="col-lg-6 col-md-6">
                <label for="Password">Password</label>
                <input class="form-control" type="text" id="Password" name="Password" placeholder="Enter Password"
                  [(ngModel)]="CreateUser.Password" #CustNam="ngModel">
              </div>
            </div>
            <br />
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label for="fromemail">From Email</label>
                <input class="form-control" type="text" id="fromemmail" name="fromemmail" placeholder="Email"
                  [(ngModel)]="CreateUser.Email" #CustNam="ngModel">
              </div>
              <div class="col-lg-6 col-md-6">
                <label for="ConfirmPassword">Confirm Password</label>
                <input class="form-control" type="text" id="ConfirmPassword" name="ConfirmPassword"
                  placeholder="Enter Confirm Password" [(ngModel)]="ConfirmPassword" #CustNam="ngModel">
              </div>
            </div>
            <br />
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label for="status">Status</label>
                <select class="form-control" id="status" (change)="selectedStatus($event.target.value)">
                  <option value="A">Active</option>
                  <option value="I">InActive</option>
                </select>
              </div>
            </div>
            <br />

            <div class="u-flex" style="margin-top: 15px;">
              <button type="button" data-dismiss="modal" aria-label="Close" style="margin-left: 75%;"
                class="btn btn-secondary">Cancel</button>
              <button type="submit" class="btn btn-success" style="margin-left: 2%;"
                [disabled]="!createUserForm.valid">Submit</button>

            </div>
            <br />


          </div>

        </form>

      </div>

    </div><!-- // .c-modal__content -->
  </div><!-- // .c-modal__dialog -->
</div>



<div class="modal fade" id="EditUserModal" tabindex="-1" role="dialog" aria-labelledby="EditUserModal"
  data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title">Edit User</h3>

        <span class="modal-close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-close"></i>
        </span>
      </div>
      <div class="modal-body">
        <form style="align-content: center;" #createUserForm="ngForm" (ngSubmit)="UpdateUser()">
          <div style="border: 1px solid;border-color: lightgray;padding: 10px;border-radius: 5px;">
            <div style="background-color:lightskyblue;border-radius: 5px;">
              <h4 style="margin-left: 5%;color:white;border-radius: 25px;">User Information</h4>
            </div>
            <br />
            <div class=" form-group row ">
              <div class="col-lg-12 col-md-12">
                <div class="form-group ">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkbox41" name="checkboxes"
                      type="checkbox" [(ngModel)]="selectedUser.IsGoPrivateUser" #CustNam="ngModel">
                    <label class="custom-control-label" for="agreement">Is go private user? </label>
                  </div>
                </div>
              </div>
            </div>
            <br />

            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label for="Group">Group</label>
                <select class="form-control" id="Group" (change)="selectedUpdateGroupData($event.target.value)">
                  <option>--Please Select--</option>
                  <option *ngFor="let GD of GroupData" value="{{GD.id}}">
                    {{GD.description}}</option>
                </select>
              </div>
              <div class="col-lg-6 col-md-6" *ngIf="ShowSelectedGroupData">
                <label for="salutation">{{SelectedGroupName}}</label>
                <select class="form-control" id="salutation"
                  (change)="selectedUpdateGroupNameData($event.target.value)">
                  <option>--Please Select--</option>
                  <option *ngFor="let SGD of SelectedGroupData" [selected]="EditPreSelectedGroupNameID == SGD.id"
                    [value]="SGD.id">{{SGD.fullName}}</option>
                </select>
              </div>
            </div><br />
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label for="FName">First Name</label>
                <input class="form-control" type="text" id="FName" name="FName" placeholder="Name"
                  [(ngModel)]="selectedUser.FirstName" #CustNam="ngModel">
              </div>
              <div class="col-lg-6 col-md-6">
                <label for="LName">Last Name</label>
                <input class="form-control" type="text" id="LName" name="LName" placeholder="Name"
                  [(ngModel)]="selectedUser.LastName" #CustNam="ngModel">
              </div>
            </div><br />
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label for="SecurityQuestion">Security Question</label>
                <select class="form-control" id="SecurityQuestion"
                  (change)="selectedUpdateSecurityQuestionData($event.target.value)">
                  <option>--Please Select--</option>
                  <option *ngFor="let SQD of SecurityQuestionData"
                    [selected]="selectedUser.SecurityQuestionID == SQD.id" [value]="SQD.id">{{SQD.description}}</option>
                </select>
              </div>
              <div class="col-lg-6 col-md-6">
                <label for="Answer">Answer</label>
                <input class="form-control" type="text" id="Answer" name="Answer" placeholder="Answer"
                  [(ngModel)]="selectedUser.SecurityQuestionAnswer" #CustNam="ngModel">
              </div>
            </div><br />
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label for="HomePhone">Home Phone #</label>
                <input class="form-control" type="text" id="HomePhone" name="HomePhone" placeholder="Phone #"
                  [(ngModel)]="selectedUser.HomePhoneNo" #CustNam="ngModel">
              </div>
              <div class="col-lg-6 col-md-6">
                <label for="WorkPhone">Work Phone #</label>
                <input class="form-control" type="text" id="WorkPhone" name="WorkPhone" placeholder="Phone # "
                  [(ngModel)]="selectedUser.WorkPhoneNo" #CustNam="ngModel">
              </div>
            </div><br />
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label for="Cell">Cell #</label>
                <input class="form-control" type="text" id="Cell" name="Cell" placeholder=""
                  [(ngModel)]="selectedUser.CellNo" #CustNam="ngModel">
              </div>
              <div class="col-lg-6 col-md-6">
                <label for="Fax">Fax #</label>
                <input class="form-control" type="text" id="Fax" name="Fax" placeholder="Fax No"
                  [(ngModel)]="selectedUser.FaxNo" #CustNam="ngModel">
              </div>
            </div><br />
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label for="username">User Name</label>
                <input class="form-control" type="text" id="username" name="username" placeholder="Name"
                  [(ngModel)]="selectedUser.UserName" #CustNam="ngModel">
              </div>
              <div class="col-lg-6 col-md-6">
                <label for="Password">Password</label>
                <input class="form-control" type="text" id="Password" name="Password" placeholder="Enter Password"
                  [(ngModel)]="selectedUser.Password" #CustNam="ngModel">
              </div>
            </div><br />
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label for="fromemail">From Email</label>
                <input class="form-control" type="text" id="fromemmail" name="fromemmail" placeholder="Email"
                  [(ngModel)]="selectedUser.Email" #CustNam="ngModel">
              </div>
              <div class="col-lg-6 col-md-6">
                <label for="ConfirmPassword">Confirm Password</label>
                <input class="form-control" type="text" id="ConfirmPassword" name="ConfirmPassword"
                  placeholder="Enter Confirm Password" [(ngModel)]="ConfirmPassword" #CustNam="ngModel">
              </div>
            </div><br />
            <div class="form-group row">
              <div class="col-lg-6 col-md-6">
                <label for="status">Status</label>
                <select class="form-control" id="status" (change)="selectedUpdateStatus($event.target.value)">
                  <option [selected]="selectedUser.Status=='A'" value="A">Active</option>
                  <option [selected]="selectedUser.Status=='I'" value="I">InActive</option>
                </select>
              </div>
            </div><br />

            <div class="u-flex" style="margin-top: 15px;">
              <button type="button" data-dismiss="modal" aria-label="Close" style="margin-left: 75%;"
                class="c-btn c-btn--danger">Cancel</button>
              <button type="submit" class="c-btn c-btn--success" style="margin-left: 2%;"
                [disabled]="!createUserForm.valid">Update</button>

            </div> <br />


          </div>

        </form>

      </div>

    </div><!-- // .c-modal__content -->
  </div><!-- // .c-modal__dialog -->
</div>