<ngx-loading-bar color="#1e90ff" height="5px"></ngx-loading-bar>
<div class="container-fluid bg-light-opac">
  <div class="row">
    <div class="container my-3 main-container">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="content-color-primary page-title">Create New Medical Secretary</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-2 main-container">
  <div class="card mb-4">
    <form #createMedicalSecretaryForm="ngForm" (ngSubmit)="createMedicalSecretaryForm.form.valid && Create()" novalidate>
      <div class="card-header border-bottom">
        <h5 class="content-color-primary mb-0">Medical Secretary Information</h5>
      </div>
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-md-10 ">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="MedicalSecretaryType">Medical Secretary Type</label>
                  <select class="form-control" id="Title" (change)="selectedMedicalSecretary($event.target.value)">
                    <option value="1">Inhouse</option>
                    <option value="2">Outsource</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="CreateMedicalSecretary.medicalSecretaryTypeID==1">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="Title">Title</label>
                  <select class="form-control" id="Title" [(ngModel)]="CreateMedicalSecretary.namePrefix" 
                    name="title" [ngClass]="{ 'is-invalid': createMedicalSecretaryForm.submitted && title.invalid }" required 
                    (change)="selectedTitle($event.target.value)" #title="ngModel">
                    <option value="">--Please Select--</option>
                    <option value="Mr.">Mr.</option>
                    <option value="Mrs.">Mrs.</option>
                    <option value="Miss">Mr.</option>
                    <option value="Dr.">Dr.</option>
                    <option value="Master">Master</option>
                    <option value="Minor">Minor</option>
                    <option value="Lord">Lord</option>
                    <option value="Professor">Professor</option>
                    <option value="Captain">Captain</option>
                  </select>
                  <div *ngIf="createMedicalSecretaryForm.submitted && title.invalid" class="text-danger">
                    <div *ngIf="title.errors.required">
                      Title is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="Gender">Gender</label>
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="gender" id="customCheck1payment"
                          value="Male" [(ngModel)]="CreateMedicalSecretary.gender" #gender="ngModel" required>
                          <label class="custom-control-label" for="customCheck1payment">
                            <span class="">
                              Male
                            </span>
                          </label>
                      </div>
                    </div>
                    <div class="col-sm-10">
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input ml-1" name="gender"
                          id="customCheck2payment" value="Female" [(ngModel)]="CreateMedicalSecretary.gender"
                          required>
                          <label class="custom-control-label" for="customCheck2payment">
                            <span class="">
                              Female
                            </span>
                          </label>
                      </div>
                    </div>
                    <div *ngIf="createMedicalSecretaryForm.submitted && gender.invalid" class="text-danger">
                      <div *ngIf="gender.errors?.required">Gender is required</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="FName">First Name</label>
                  <input class="form-control" type="text" id="FName" name="firstName" placeholder="First Name"
                    [(ngModel)]="CreateMedicalSecretary.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': createMedicalSecretaryForm.submitted && firstName.invalid }" required>
                  <div *ngIf="createMedicalSecretaryForm.submitted && firstName.invalid" class="text-danger">
                    <div *ngIf="firstName.errors.required">
                      First Name is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="LName">Last Name</label>
                  <input class="form-control" type="text" id="LName" name="lastName" placeholder="Last Name"
                    [(ngModel)]="CreateMedicalSecretary.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': createMedicalSecretaryForm.submitted && lastName.invalid }" required>
                    <div *ngIf="createMedicalSecretaryForm.submitted && lastName.invalid" class="text-danger">
                      <div *ngIf="lastName.errors.required">
                        Last Name is required.
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="status">Middle Name</label>
                  <input class="form-control" type="text" id="MiddleName" name="MiddleName" placeholder="Middle Name"
                    [(ngModel)]="CreateMedicalSecretary.middleName" #CustNam="ngModel">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <label for="Mobile">Mobile No.</label>
                <input class="form-control" type="text" id="Mobile" name="mobile" placeholder="Mobile No."
                  [(ngModel)]="CreateMedicalSecretary.mobileNumber" #mobile="ngModel" [ngClass]="{ 'is-invalid': createMedicalSecretaryForm.submitted && mobile.invalid }" required>
                  <div *ngIf="createMedicalSecretaryForm.submitted && mobile.invalid" class="text-danger">
                    <div *ngIf="mobile.errors.required">
                      Mobile Number is required.
                    </div>
                  </div>
              </div>
            </div>
            <div class="row" *ngIf="CreateMedicalSecretary.medicalSecretaryTypeID==2">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="CmpName">Company Name</label>
                  <input class="form-control" type="text" id="CmpName" name="companyName" placeholder="Company Name"
                    [(ngModel)]="CreateMedicalSecretary.companyName" #companyName="ngModel" [ngClass]="{ 'is-invalid': createMedicalSecretaryForm.submitted && companyName.invalid }" required>
                    <div *ngIf="createMedicalSecretaryForm.submitted && companyName.invalid" class="text-danger">
                      <div *ngIf="companyName.errors.required">
                        Company Name is required.
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-lg-6 col-lg-6">
                <div class="form-group">
                  <label for="CmpAddress">Company Address</label>
                  <input class="form-control" type="text" id="CmpAddress" name="companyAddress"
                    placeholder="Company Address" [(ngModel)]="CreateMedicalSecretary.companyAddress"
                    #companyAddress="ngModel" [ngClass]="{ 'is-invalid': createMedicalSecretaryForm.submitted && companyAddress.invalid }" required>
                    <div *ngIf="createMedicalSecretaryForm.submitted && companyAddress.invalid" class="text-danger">
                      <div *ngIf="companyName.errors.required">
                        Company Address is required.
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <label for="Mobile">Company Phone</label>
                <input class="form-control" type="text" id="CompanyPhone" name="companyPhone"
                  placeholder="Company Phone" [(ngModel)]="CreateMedicalSecretary.companyPhoneNumber" #companyPhone="ngModel" [ngClass]="{ 'is-invalid': createMedicalSecretaryForm.submitted && companyPhone.invalid }" required>
                  <div *ngIf="createMedicalSecretaryForm.submitted &&  companyPhone.invalid" class="text-danger">
                    <div *ngIf="companyPhone.errors.required">
                      Company Phone is required.
                    </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <label for="Email">Company Email</label>
                <input class="form-control" type="text" id="CompanyEmail" name="CompanyEmail"
                  placeholder="Company Email" [(ngModel)]="CreateMedicalSecretary.email" #CustNam="ngModel">
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="PostCode">Post Code</label>
                  <input class="form-control" type="text" id="PostCode" name="PostCode" placeholder="Post code"
                    [(ngModel)]="CreateMedicalSecretary.postCode" #CustNam="ngModel">
                </div>
              </div>
            </div>
            <div class="border-top">

              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="Address">Address</label>
                    <input class="form-control" type="text" id="Address" name="address" placeholder="Address"
                      [(ngModel)]="CreateMedicalSecretary.addressLine1" #address="ngModel" [ngClass]="{ 'is-invalid': createMedicalSecretaryForm.submitted && address.invalid }" required>
                      <div *ngIf="createMedicalSecretaryForm.submitted && address.invalid" class="text-danger">
                        <div *ngIf="address.errors.required">
                          Address is required.
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="Country">County</label>
                    <input class="form-control" type="text" id="County" name="County" placeholder="Country"
                      [(ngModel)]="CreateMedicalSecretary.county" #CustNam="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="Town">Town</label>
                    <input class="form-control" type="text" id="Town" name="Town" placeholder="Town"
                      [(ngModel)]="CreateMedicalSecretary.town" #CustNam="ngModel">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <label for="status">Status</label>
                  <select class="form-control" id="status" (change)="selectedStatus($event.target.value)">
                    <option value="">--Please Select--</option>
                    <option value="1">Active</option>
                    <option value="0">InActive</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="Amount">Amount</label>
                    <input class="form-control" type="text" id="Amount" name="Amount"
                      [(ngModel)]="CreateMedicalSecretary.amountRate" #CustNam="ngModel">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="FeeType">Contract</label>
                    <div class="row">
                      <div class="col-sm-5">
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" value="1" name="payment_option"
                            id="customCheck4payment" [(ngModel)]="CreateMedicalSecretary.isHourlyOrPerReportFee"
                            #CustNam="ngModel">
                          <label class="custom-control-label" for="customCheck4payment"> <span class="">Is Hourly
                              Fee</span></label>
                        </div>
                      </div>
                      <div class="col-sm-7">
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" name="payment_option"
                            id="customCheck5payment" value="2"
                            [(ngModel)]="CreateMedicalSecretary.isHourlyOrPerReportFee" #CustNam="ngModel">
                          <label class="custom-control-label" for="customCheck5payment"> <span class="">Is Per Report
                              Fee</span></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn pink-gradient float-right mb-2">Submit</button>
      </div>
    </form>
  </div>
</div>