<ngx-loading-bar color="#1e90ff" height="5px"></ngx-loading-bar>
<div class="container-fluid bg-light-opac">
  <div class="row">
    <div class="container my-3 main-container">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="content-color-primary page-title">Create New Medical Secretary</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-2 main-container">
  <div class="card mb-4">
    <form [formGroup]="medSecForm" *ngIf="medSecForm" (ngSubmit)="submit()">
      <div class="card-header border-bottom">
        <h5 class="content-color-primary mb-0">Personal Information</h5>
      </div>
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-md-10 ">

            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="MedicalSecretaryType">Medical Secretary Type</label>
                  <select class="form-control" formControlName="medicalSecretaryTypeID"
                    (change)="selectedType($event.target.value)" [ngClass]="{'is-invalid': medSecForm.get('medicalSecretaryTypeID')?.errors 
                    && (medSecForm.get('medicalSecretaryTypeID')?.touched||medSecFormSubmit)}">
                    <option value="">Select Option</option>
                    <option value="1">Inhouse</option>
                    <option value="2">Outsource</option>
                  </select>
                  <div class="invalid-feedback"
                    *ngIf="(medSecForm.get('medicalSecretaryTypeID')?.touched||medSecFormSubmit) && medSecForm.get('medicalSecretaryTypeID')?.hasError('required')">
                    This field is required
                  </div>
                </div>
              </div>
            </div>

            <ng-container formArrayName="secretaryFormArray">
              <div class="row" *ngFor="let control of secretaryFormArray.controls;">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="Title">Title</label>
                    <select class="form-control" [formControl]="control.get('namePrefix')" [ngClass]="{'is-invalid': control.get('namePrefix')?.errors 
                    && (control.get('namePrefix')?.touched||medSecFormSubmit)}">
                      <option value="">--Please Select--</option>
                      <option value="Mr.">Mr.</option>
                      <option value="Mrs.">Mrs.</option>
                      <option value="Miss">Mr.</option>
                      <option value="Dr.">Dr.</option>
                      <option value="Master">Master</option>
                      <option value="Minor">Minor</option>
                      <option value="Lord">Lord</option>
                      <option value="Professor">Professor</option>
                      <option value="Captain">Captain</option>
                    </select>
                    <div class="invalid-feedback"
                      *ngIf="(medSecForm.get('namePrefix')?.touched||medSecFormSubmit) && control.get('namePrefix')?.hasError('required')">
                      This field is required
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="Gender">Gender</label>
                    <div class="row">
                      <div class="col-sm-2">
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="customCheck1payment" [formControl]="control.get('gender')"
                            value="Male" [ngClass]="{'is-invalid': control.get('gender')?.errors 
                            && (control.get('gender')?.touched||medSecFormSubmit)}">
                          <label class="custom-control-label" for="customCheck1payment">
                            <span class="">Male </span>
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-10">
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input ml-1" id="customCheck2payment" [formControl]="control.get('gender')"
                            value="Female" [ngClass]="{'is-invalid': control.get('gender')?.errors 
                          && (control.get('gender')?.touched||medSecFormSubmit)}">
                          <label class="custom-control-label" for="customCheck2payment">
                            <span class="">Female</span>
                          </label>
                        </div>
                      </div>
                      <div class="invalid-feedback"
                        *ngIf="(control.get('gender')?.touched||medSecFormSubmit) && control.get('gender')?.hasError('required')">
                        This field is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="form-group">
                    <label>First Name</label>
                    <input class="form-control" appAlphabetsOnly type="text" [formControl]="control.get('firstName')" [ngClass]="{'is-invalid': control.get('firstName')?.errors 
                                    && (control.get('firstName')?.touched||medSecFormSubmit)}">
                    <div class="invalid-feedback"
                      *ngIf="(control.get('firstName')?.touched||medSecFormSubmit) && control.get('firstName')?.hasError('required')">
                      This field is required
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="form-group">
                    <label>Middle Name</label>
                    <input class="form-control" appAlphabetsOnly type="text" [formControl]="control.get('middleName')">
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" appAlphabetsOnly type="text" [formControl]="control.get('lastName')" [ngClass]="{'is-invalid': control.get('lastName')?.errors 
                      && (control.get('lastName')?.touched||medSecFormSubmit)}">
                    <div class="invalid-feedback"
                      *ngIf="(control.get('lastName')?.touched||medSecFormSubmit) && control.get('lastName')?.hasError('required')">
                      This field is required
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label>Email</label>
                    <input class="form-control"  type="email" email="true" [formControl]="control.get('email')" [ngClass]="{'is-invalid': control.get('email')?.errors 
                      && (control.get('email')?.touched||medSecFormSubmit)}">
                    <div class="invalid-feedback">
                      <span *ngIf="(control.get('email')?.touched||medSecFormSubmit) && control.get('email')?.hasError('required')"> This field is required</span>
                      <span *ngIf="(control.get('email')?.touched||medSecFormSubmit) && control.get('email')?.hasError('email')">Email is not valid.</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label>Phone No</label>
                    <input class="form-control" appOnlynumbers type="text" [formControl]="control.get('phoneNo')" [ngClass]="{'is-invalid': control.get('phoneNo')?.errors 
                      && (control.get('phoneNo')?.touched||medSecFormSubmit)}">
                    <div class="invalid-feedback"
                      *ngIf="(control.get('phoneNo')?.touched||medSecFormSubmit) && control.get('phoneNo')?.hasError('required')">
                      This field is required
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-container formArrayName="companyFormArray">
              <div class="row" *ngFor="let control of companyFormArray.controls;">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label>Company Name</label>
                    <input class="form-control"appAlphabetsOnly type="text" [formControl]="control.get('companyName')" [ngClass]="{'is-invalid': control.get('companyName')?.errors 
                    && (control.get('companyName')?.touched||medSecFormSubmit)}">
                    <div class="invalid-feedback"
                      *ngIf="(control.get('companyName')?.touched||medSecFormSubmit) && control.get('companyName')?.hasError('required')">
                      This field is required
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-lg-6">
                  <div class="form-group">
                    <label for="CmpAddress">Company Address</label>
                    <input class="form-control" appAlphabetsOnly type="text" [formControl]="control.get('companyAddress')" [ngClass]="{'is-invalid': control.get('companyAddress')?.errors 
                                    && (control.get('companyAddress')?.touched||medSecFormSubmit)}">
                    <div class="invalid-feedback"
                      *ngIf="(control.get('companyAddress')?.touched||medSecFormSubmit) && control.get('companyAddress')?.hasError('required')">
                      This field is required
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <label for="Mobile">Company Phone</label>
                  <input class="form-control" appOnlynumbers type="text" [formControl]="control.get('companyPhoneNumber')" [ngClass]="{'is-invalid': control.get('companyPhoneNumber')?.errors 
                  && (control.get('companyPhoneNumber')?.touched||medSecFormSubmit)}">
                  <div class="invalid-feedback"
                    *ngIf="(control.get('companyPhoneNumber')?.touched||medSecFormSubmit) && control.get('companyPhoneNumber')?.hasError('required')">
                    This field is required
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label>Post Code</label>
                    <input class="form-control" type="text" [formControl]="control.get('postCode')" [ngClass]="{'is-invalid': control.get('postCode')?.errors 
                                      && (control.get('postCode')?.touched||medSecFormSubmit)}">
                    <div class="invalid-feedback"
                      *ngIf="(control.get('postCode')?.touched||medSecFormSubmit) && control.get('postCode')?.hasError('required')">
                      This field is required
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

          </div>
        </div>

        <div class="row justify-content-center border-top">
          <div class="col-md-10">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <label for="Mobile">Mobile No.</label>
                <input class="form-control" appOnlynumbers type="text" formControlName="mobileNumber" [ngClass]="{'is-invalid': medSecForm.get('mobileNumber').errors 
                                && (medSecForm.get('mobileNumber').touched||medSecFormSubmit)}">
                <div class="invalid-feedback"
                  *ngIf="(medSecForm.get('mobileNumber').touched||medSecFormSubmit) && medSecForm.get('mobileNumber').hasError('required')">
                  This field is required
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="Address">Address Line 1</label>
                  <input class="form-control" type="text" formControlName="addressLine1" [ngClass]="{'is-invalid': medSecForm.get('addressLine1').errors 
                                      && (medSecForm.get('addressLine1').touched||medSecFormSubmit)}">
                  <div class="invalid-feedback"
                    *ngIf="(medSecForm.get('addressLine1').touched||medSecFormSubmit) && medSecForm.get('addressLine1').hasError('required')">
                    This field is required
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="Country">Address Line 2</label>
                  <input class="form-control" type="text" formControlName="addressLine2" [ngClass]="{'is-invalid': medSecForm.get('addressLine2').errors 
                    && (medSecForm.get('addressLine2').touched||medSecFormSubmit)}">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="Country">Additional Email </label>
                  <input class="form-control" type="text" formControlName="additionalEmailJson">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="Town">Town</label>
                  <input class="form-control" appAlphabetsOnly type="text" formControlName="town" [ngClass]="{'is-invalid': medSecForm.get('town').errors 
                    && (medSecForm.get('town').touched||medSecFormSubmit)}">
                  <div class="invalid-feedback"
                    *ngIf="(medSecForm.get('town').touched||medSecFormSubmit) && medSecForm.get('town').hasError('required')">
                    This field is required
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <label for="status">County</label>
                <input class="form-control" appAlphabetsOnly type="text" formControlName="county" [ngClass]="{'is-invalid': medSecForm.get('county').errors 
                  && (medSecForm.get('county').touched||medSecFormSubmit)}">
                <div class="invalid-feedback"
                  *ngIf="(medSecForm.get('county').touched||medSecFormSubmit) && medSecForm.get('county').hasError('required')">
                  This field is required
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="Amount">Amount</label>
                  <input class="form-control" appOnlynumbers type="text" formControlName="amountRate" [ngClass]="{'is-invalid': medSecForm.get('amountRate').errors 
                    && (medSecForm.get('amountRate').touched||medSecFormSubmit)}">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="FeeType">Contract</label>
                  <div class="row">
                    <div class="col-sm-5">
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="customCheck4"
                          formControlName="contract" value="isHourlyFee">
                        <label class="custom-control-label" for="customCheck4">
                          <span class="">Is Hourly Fee</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-7">
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="customCheck5"
                          formControlName="contract" value="isPerReportFee">
                        <label class="custom-control-label" for="customCheck5"> 
                          <span class="">Is Per Report Fee</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="card-header border-bottom">
        <h5 class="content-color-primary mb-0">Sign In Registeration</h5>
      </div>
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="form-group ">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="agreement" formControlName="isUser"
                     (change)="isMedSecUser(medSecForm.get('isUser').value)">
                    <label class="custom-control-label" for="agreement">Is User</label>
                  </div>
                </div>
              </div>
            </div>
            
          <ng-container formArrayName="userFormArray">
            <div class="col-md-10" >
              <div class="row" *ngFor="let control of userFormArray.controls;">

                <div class="col-lg-4 col-md-4">
                  <div class="formGroup">
                    <label>Username</label>
                    <input class="form-control" type="text" [formControl]="control.get('username')" [ngClass]="{'is-invalid': control.get('username')?.errors 
                                                  && (control.get('username')?.touched||medSecFormSubmit)}">
                    <div class="invalid-feedback"
                      *ngIf="(control.get('username')?.touched||medSecFormSubmit) && control.get('username')?.hasError('required')">
                      This field is required
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="formGroup">
                    <label>Password</label>
                    <input class="form-control" type="password" [formControl]="control.get('password')" [ngClass]="{'is-invalid': control.get('password')?.errors 
                                                  && (control.get('password')?.touched||medSecFormSubmit)}">
                    <div class="invalid-feedback"
                      *ngIf="(control.get('password')?.touched||medSecFormSubmit) && control.get('password')?.hasError('required')">
                      This field is required
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="formGroup">
                    <label>Confirm Password</label>
                    <input class="form-control" type="password" [formControl]="control.get('confirmPassword')"
                     [ngClass]="{'is-invalid': control.get('confirmPassword')?.errors 
                     && (control.get('confirmPassword')?.touched || control.get('confirmPassword')?.touched 
                     && control.hasError('mismatch') || medSecFormSubmit)}">

                    <div class="invalid-feedback" *ngIf="(control.get('confirmPassword')?.touched||medSecFormSubmit) && control.get('confirmPassword')?.hasError('required')">
                      This field is required
                    </div>
                    <div class="text-danger" *ngIf="control.get('confirmPassword')?.touched 
                    && control.hasError('mismatch')">
                      Password must match
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <button type="submit" class="btn pink-gradient mb-2">Submit</button>
      </div>
    </form>
  </div>