<div class="row mt-2 mb-2">
  <div class="col-sm-12 text-right">
    <button type="button" class="btn btn-success btn-sm" (click)="openAppointmentCancellationModel(addAppointmentCacenllation)">
      <i class="material-icons">add</i>
    </button>
  </div>
</div>

<div class="row">
  <table class="table">
    <tr>
      <th>Sr.</th>
      <th title="No Of Cancel Appointments">No Of Cancel</th>
      <th>Range By</th>
      <th title="Start Range">S.R (minute)</th>
      <th title="End Range">E.R (minute)</th>
      <th title="Charge Amount">C.A</th>
      <th title="Charge Percentage">C.P</th>
      <th>IsActive</th>
      <th width="12%">Action</th>
    </tr>
    <tr *ngFor="let item of appointmentCancellationList; let i=index;">
      <td>{{i+1}}</td>
      <td>{{item.noOfCancelAppointment}}</td>
      <td>{{item.rangeBy}}</td>
      <td>{{item.startRange}}</td>
      <td>{{item.endRange}}</td>
      <td>{{item.chargeAmt}}</td>
      <td>{{item.chargePercent}}</td>
      <td>
        <button title="Update status" type="button" *ngIf="item.isActive" class="btn btn-success btn-sm" (click)="updateServiceStatus(item.id,'IsActive',0,'AppointmentCancel')">{{item.isActive}}</button>
        <button title="Update status" type="button" *ngIf="!item.isActive" class="btn btn-secondary btn-sm" (click)="updateServiceStatus(item.id,'IsActive',1,'AppointmentCancel')">{{item.isActive}}</button>
      </td>
      <td>
        <button type="button" class="btn pink-gradient btn-sm mr-1" (click)="editAppointmentCancellation(item.id)">Edit</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="updateServiceStatus(item.id,'IsDeleted',1,'AppointmentCancel')">Delete</button>
      </td>
    </tr>
  </table>
</div>


<ng-template #addAppointmentCacenllation>
  <div class="modal-header pink-gradient">
    <h4 class="modal-title pull-left">Appointment Cancellation</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="appointmentCancellationForm" *ngIf="appointmentCancellationForm" (ngSubmit)="saveAppointmentCancellation()">
      <div class="row ">
        <div class="col-lg-12 col-md-12">
          <div class="form-group ">
            <label>No Of Cancel Appointment</label>
            <input class="form-control" placeholder="No Of Data" formControlName="noOfCancelAppointment" [ngClass]="{'is-invalid': appointmentCancellationForm.get('noOfCancelAppointment').errors 
            && (appointmentCancellationForm.get('noOfCancelAppointment').touched||appointmentSubmitted)}" />
            <div class="invalid-feedback"
              *ngIf="(appointmentCancellationForm.get('noOfCancelAppointment').touched||appointmentSubmitted) && appointmentCancellationForm.get('noOfCancelAppointment').hasError('required')">
              This field is required
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-12 col-md-12">
          <div class="form-group ">
            <label>Range By</label>
            <select class="form-control" formControlName="rangeBy" [ngClass]="{'is-invalid': appointmentCancellationForm.get('rangeBy').errors 
            && (appointmentCancellationForm.get('rangeBy').touched||appointmentSubmitted)}">
              <option value="">Select Option</option>
              <option value="Hourly">Hourly</option>
              <option value="Weekly">Weekly</option>
              <option value="Monthly">Monthly</option>
            </select>
            <div class="invalid-feedback"
              *ngIf="(appointmentCancellationForm.get('rangeBy').touched||appointmentSubmitted) && appointmentCancellationForm.get('rangeBy').hasError('required')">
              This field is required
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-12 col-md-12">
          <div class="form-group ">
            <label>Start Range (minute)</label>
            <input type="text" appOnlynumbers class="form-control" placeholder="Start Range" formControlName="startRange" [ngClass]="{'is-invalid': appointmentCancellationForm.get('startRange').errors 
            && (appointmentCancellationForm.get('startRange').touched||appointmentSubmitted)}">
            <div class="invalid-feedback"
              *ngIf="(appointmentCancellationForm.get('startRange').touched||appointmentSubmitted) && appointmentCancellationForm.get('startRange').hasError('required')">
              This field is required
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-12 col-md-12">
          <div class="form-group ">
            <label>End Range (minute)</label>
            <input type="text" appOnlynumbers class="form-control" formControlName="endRange" placeholder="End Range" [ngClass]="{'is-invalid': appointmentCancellationForm.get('endRange').errors 
            && (appointmentCancellationForm.get('endRange').touched||appointmentSubmitted) || (appointmentCancellationForm.get('endRange').touched && appointmentCancellationForm.hasError('endRangeGreater'))}">
            <div class="invalid-feedback"
              *ngIf="(appointmentCancellationForm.get('endRange').touched||appointmentSubmitted) && appointmentCancellationForm.get('endRange').hasError('required')">
              This field is required
            </div>
            
          <div class="invalid-feedback"
          *ngIf="appointmentCancellationForm.hasError('endRangeGreater') && appointmentCancellationForm.get('endRange').touched">End Range Time
          must be greater!</div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-12 col-md-12">
          <div class="form-group ">
            <label>Charge Amount</label>
            <input type="text" class="form-control" formControlName="chargeAmt" placeholder="Charge Amount" [ngClass]="{'is-invalid': appointmentCancellationForm.get('chargeAmt').errors 
            && (appointmentCancellationForm.get('chargeAmt').touched||appointmentSubmitted)}">
            <div class="invalid-feedback"
              *ngIf="(appointmentCancellationForm.get('chargeAmt').touched||appointmentSubmitted) && appointmentCancellationForm.get('chargeAmt').hasError('required')">
              This field is required
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-12 col-md-12">
          <div class="form-group ">
            <label>Charge Percentage</label>
            <input type="text" class="form-control" formControlName="chargePercent" placeholder="Charge Amount"
              [ngClass]="{'is-invalid': appointmentCancellationForm.get('chargePercent').errors 
            && (appointmentCancellationForm.get('chargePercent').touched||appointmentSubmitted)}">
            <div class="invalid-feedback"
              *ngIf="(appointmentCancellationForm.get('chargePercent').touched||appointmentSubmitted) && appointmentCancellationForm.get('chargePercent').hasError('required')">
              This field is required
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success float-right">Submit</button>
    </form>
  </div>
</ng-template>