.position-relative{
  position: relative !important;
}

.c-feed__item .questionnaire{
    margin: 0.625rem 0;
    padding: 0.625rem;
    border: 1px solid #e6eaee;
    border-radius: 4px;
    background-color: #fafbfc;
    display: inline-block;
}

.c-feed__item .questionnaire dl dt, .c-feed__item .questionnaire dl dd{
    font-size: 14px;

}

