<div class="container-fluid bg-light-opac">
  <div class="row">
      <div class="container my-3 main-container">
          <div class="row align-items-center">
              <div class="col">
                  <h2 class="content-color-primary page-title">Assigned Medical Secretaries</h2>
               </div>
          </div>
      </div>
  </div>
</div>
<div class="container mt-4 main-container">
  <div class="row">
      <div class="col-sm-12 col-md-12">
          <div class="card rounded-0 border-0 mb-3">
              <div class="card-header">
                  <div class="row">
                      <div class="col-8">
                          <h5 class="card-title mb-0">List</h5>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-lg-12 text-right">
                        <h5>Total Count: <span>{{assignedMedSecList.length}}</span></h5>
                    </div>
                  </div>
              </div>
              <div class="card-body">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">Sr.#</th>
                              <th scope="col">Medical Secretary</th>
                              <th scope="col">Assigned Date</th>
                              <th scope="col">Is Expert Med Sec</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of assignedMedSecList | paginate:{itemsPerPage:10,currentPage:currentPage}; let i = index;">
                              <th scope="row">{{i+1}}</th>
                              <td>{{item.medicalSecretary}}</td>
                              <td>{{item.assignDate | date:'yyyy-MM-dd'}}</td>
                              <td>
                                <span *ngIf="item.isExpertMedSec" class="text-success"><i class="material-icons">check</i></span>
                                <span *ngIf="!item.isExpertMedSec" class="text-danger"><i class="material-icons">close</i></span>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  <ul class="pagination">
                    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>