<ngx-loading-bar color="#1e90ff" height="5px"></ngx-loading-bar>
<div class="container-fluid bg-light-opac">
  <div class="row">
    <div class="container my-3 main-container">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="content-color-primary page-title">Edit Medical Secretary</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-2 main-container">
  <div class="card mb-4">
    <form #editMedicalSecretaryForm="ngForm" (ngSubmit)="Update()">
      <div class="card-header border-bottom">
        <h5 class="content-color-primary mb-0">Medical Secretary Information</h5>
      </div>
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-md-10 ">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">

                    <label for="Title">Title</label>
                    <select class="form-control" id="Title" (change)="EditselectedTitle($event.target.value)">
                      <option value="">--Please Select--</option>
                      <option [selected]="SelectedMedicalSecretary.namePrefix=='Mr.'" value="Mr.">Mr.</option>
                      <option [selected]="SelectedMedicalSecretary.namePrefix=='Mrs.'" value="Mrs.">Mrs.</option>
                      <option [selected]="SelectedMedicalSecretary.namePrefix=='Miss'" value="Miss">Miss.</option>
                      <option [selected]="SelectedMedicalSecretary.namePrefix=='Dr.'" value="Dr.">Dr.</option>
                      <option [selected]="SelectedMedicalSecretary.namePrefix=='Master'" value="Master">Master</option>
                      <option [selected]="SelectedMedicalSecretary.namePrefix=='Minor'" value="Minor">Minor</option>
                      <option [selected]="SelectedMedicalSecretary.namePrefix=='Lord'" value="Lord">Lord</option>
                      <option [selected]="SelectedMedicalSecretary.namePrefix=='Professor'" value="Professor">Professor
                      </option>
                      <option [selected]="SelectedMedicalSecretary.namePrefix=='Captain'" value="Captain">Captain</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="Gender">Gender</label>
                    <div class="row">
                      <div class="col-sm-2">
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" name="gender" id="customCheck1payment"
                            value="Male" [(ngModel)]="SelectedMedicalSecretary.gender" #gender="ngModel">
                          <label class="custom-control-label" for="customCheck1payment">
                            <span class="">
                              Male
                            </span>
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-10">
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input ml-1" name="gender"
                            id="customCheck2payment" value="Female" [(ngModel)]="SelectedMedicalSecretary.gender"
                            #gender="ngModel">
                          <label class="custom-control-label" for="customCheck2payment">
                            <span class="">
                              Female
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="FName">First Name</label>
                    <input class="form-control" type="text" id="FName" name="firstName" placeholder="First Name"
                      [(ngModel)]="SelectedMedicalSecretary.firstName" #firstName="ngModel">
                  </div>
                
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    
                  <label for="LName">Last Name</label>
                  <input class="form-control" type="text" id="LName" name="lastName" placeholder="Last Name"
                    [(ngModel)]="SelectedMedicalSecretary.lastName" #lastName="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group"> 

                    <label for="Address">Address</label>
                    <input class="form-control" type="text" id="Address" name="address1" placeholder="Address"
                      [(ngModel)]="SelectedMedicalSecretary.addressLine1" #address1="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">

                    <label for="Country">Country</label>
                    <input class="form-control" type="text" id="Country" name="country" placeholder="Country"
                      [(ngModel)]="SelectedMedicalSecretary.county" #country="ngModel">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">

                    <label for="Town">Town</label>
                    <input class="form-control" type="text" id="Town" name="town" placeholder="Town"
                      [(ngModel)]="SelectedMedicalSecretary.town" #town="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">

                    <label for="PostCode">Post Code</label>
                    <input class="form-control" type="text" id="PostCode" name="postCode" placeholder="Name"
                      [(ngModel)]="SelectedMedicalSecretary.postCode" #postCode="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">

                    <label for="Mobile">Mobile No.</label>
                    <input class="form-control" type="text" id="Mobile" name="mobileNumber" placeholder="Mobile No"
                      [(ngModel)]="SelectedMedicalSecretary.mobileNumber" #mobileNumber="ngModel">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">

                    <label for="Email">Email</label>
                    <input class="form-control" type="text" id="Email" name="email" placeholder="Email"
                      [(ngModel)]="SelectedMedicalSecretary.email" #email="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="Contract">Contract</label>
                    <select class="form-control" id="Title" (change)="EditselectedContract($event.target.value)">
                      <option value="">--Please Select--</option>
                      <option [selected]="SelectedMedicalSecretary.medicalSecretaryContractType=='1'" value="1">Per Report
                      </option>
                      <option [selected]="SelectedMedicalSecretary.medicalSecretaryContractType=='2'" value="2">Hourly
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">

                    <label for="Amount">Amount</label>
                    <input class="form-control" type="text" id="Amount" name="amountRate" placeholder="Amount"
                      [(ngModel)]="SelectedMedicalSecretary.amountRate" #amountRate="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <label for="status">Status</label>
                  <select class="form-control" id="status" (change)="EditselectedStatus($event.target.value)">
                    <option [selected]="SelectedMedicalSecretary.status=='1'" value="1">Active</option>
                    <option [selected]="SelectedMedicalSecretary.status=='0'" value="0">InActive</option>
                  </select>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" [disabled]="!editMedicalSecretaryForm.valid" class="btn pink-gradient float-right mb-2">Submit</button>
      </div>
    </form>
  </div>
</div>