<div class="container-fluid bg-light-opac">
  <div class="row">
      <div class="container my-3 main-container">
          <div class="row align-items-center">
              <div class="col">
                  <h2 class="content-color-primary page-title">Drafts</h2>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container mt-4 main-container">
  <div class="row">
      <div class="col-sm-12 col-md-12">
          <div class="card rounded-0 border-0 mb-3">
              <div class="card-header">
                  <div class="row">
                      <div class="col-8">
                          <h5 class="card-title mb-0">Draft List</h5>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">Sr.</th>
                              <th scope="col">Performa Code</th>
                              <th scope="col">Case Ref. No.</th>
                              <th scope="col">Client Name</th>
                              <th scope="col">Expert Name</th>
                              <th scope="col">Expert Type</th>
                              <th scope="col">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of performaDraftsList | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index">
                              <th scope="row"><span class="icon-30 icon-circle align-self-start pink-gradient text-white">{{i+1}}</span></th>
                              <td>{{item.performaQuestionnaireCode}}</td>
                              <td>{{item.caseRefNO}}</td>
                              <td>{{item.clientName}}</td>
                              <td>{{item.expertName}}</td>
                              <td>{{item.expertType}}</td>
                              <td>
                                <button class="btn danger-gradient px-3 btn-sm" 
                                    [routerLink]="['/MedicalPerforma/Performa']"
                                    [queryParams]={code:item.performaQuestionnaireCode}>Open Draft</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  <ul class="pagination">
                    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>